<div class="modal is-active ">
  <div class="modal-background"> </div>

  <div class="modal-card" >
      <section class="modal-card-body">
            <h2 *ngIf="!deleted; else deletedBlock"> <b>Override {{violation.identifier}}</b> </h2>
            <ng-template #deletedBlock>
              <h2>Override for <b>{{violation.identifier}}</b> Deleted </h2>
            </ng-template>
            <mat-divider></mat-divider>
            &nbsp;
            <div [ngClass]="{'blurred': deleted}">
                <form *ngIf="options" [formGroup]="options">
                    <div class="form-container">
                        <!--type field start-->
                        <mat-form-field  [floatLabel]="'auto'">
                            <mat-select formControlName="type">
                                <mat-option *ngFor="let type of types" [value]="type.value">
                                    {{ type.viewValue }}
                                  </mat-option>
                            </mat-select>
                            <mat-label>Violation type</mat-label>
                          </mat-form-field>
                        <!--type field end-->

                      <!--enabled field start-->
                      <div>
                        <mat-label>Enabled</mat-label>
                        <mat-radio-group formControlName="enabled">
                          <mat-radio-button [value]="true">True</mat-radio-button>
                          <mat-radio-button [value]="false">False</mat-radio-button>
                        </mat-radio-group>
                      </div>
                      <!--Enable field end-->

                        <mat-form-field>
                        <mat-label>Comments</mat-label>
                        <textarea matInput formControlName="comments"></textarea>
                        </mat-form-field>
                    </div>
                  </form>
            </div>
            <div class="buttons-container">
              <button [disabled]="false || deleted" (click)="save()" class="button is-success">
                Save
              </button>
              <button (click)="close()" class="button is-info">
                Close
              </button>
              <button [disabled]="deleted" *ngIf="override !== null" (click)="openDeleteDialog()" class="button om-delete-button is-danger">
                Delete
            </button>
            </div>

        </section>
 

    </div>

</div>