<div class="hover-highlight px-20 mtbls-section">
  <div *ngIf="description != undefined">
    <span *ngIf="description != ''; else emptyDescription">
      <p [innerHTML]="description" class="clickable" (click)='openModal()'></p>
    </span>
    <ng-template #emptyDescription>
      <p [innerHTML]="'Please add your study summary here'" class="clickable" (click)='openModal()'></p>
    </ng-template>
  </div>
</div>
<div class="modal" [ngClass]="{'is-active': isModalOpen}">
  <form *ngIf="form" [formGroup]="form">
    <div class="modal-background"></div>
    <div class="modal-card vw80">
      <div *ngIf="isFormBusy" class="load-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <section class="modal-card-body">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <mat-label>Study summary</mat-label>
                <ngx-wig
                matInput
                formControlName="description"
                [placeholder]="validation.placeholder" 
                >
              </ngx-wig>
              <mat-hint><small>{{ validation.description }}</small></mat-hint><br>
              <mat-error
              *ngIf="form.get('description').errors &&
              form.get('description').dirty &&
              form.get('description').errors.description">
              <small>{{ form.get('description').errors.description.error }}</small>
            </mat-error>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="modal-card-foot buttons is-right">
    <button *ngIf="form.get('description').dirty" [disabled]="!form.valid || isFormBusy" (click)='save()' class="button is-info">
      <mat-spinner [diameter]="20" [strokeWidth]="3" *ngIf="isFormBusy"></mat-spinner>
      Save
    </button>
    <button *ngIf="!form.get('description').dirty" (click)='closeModal()' class="button is-info">OK</button>
    <button class="button" [disabled]="isFormBusy" (click)='closeModal()'>Cancel</button>
  </footer>
</div>
</form>
</div>