<span *ngIf="person == null || addNewPerson; else showPersonDetails">
  <a *ngIf="!isReadOnly" class="button is-primary is-pulled-right is-small" (click)="openModal()">+ Add Contact</a>
</span>
<ng-template #showPersonDetails>
  <span class="clickable" (click)="openModal()">
    {{ person.firstName }} {{ person.midInitials }} {{ person.lastName }}</span>
  <span *ngIf="person.roles[0]?.annotationValue.includes('Principal Investigator')" class="badge">PI</span>
</ng-template>

<div class="modal" [ngClass]="{ 'is-active': isDeleteModalOpen }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <p>Are you sure you want to delete?</p>
    </section>
    <footer class="modal-card-foot">
      <div class="columns is-gapless full-width">
        <div class="column is-half">
          <button (click)="closeDelete()" class="button is-info">Cancel</button>
        </div>
        <div class="column is-half has-text-right">
          <button (click)="deleteNgxs()" class="button is-danger">
            OK! Delete Permanently
          </button>
        </div>
      </div>
    </footer>
  </div>
</div>

<div class="modal" [ngClass]="{ 'is-active': isApproveSubmitterModalOpen }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <p>Are you sure you want to add this user as submitter of this study?</p>
      <br />
      <p>
        <small><mat-icon>info</mat-icon>User should already have a MetaboLights
          account to grant the submitter role. Please create, confirm and then
          assign the role.</small>
      </p>
    </section>
    <footer class="modal-card-foot">
      <div class="columns is-gapless full-width">
        <div class="column is-half">
          <button (click)="closeSubmitterAproval()" class="button is-info">
            Cancel
          </button>
        </div>
        <div class="column is-half has-text-right">
          <button (click)="grantSubmitter()" class="button is-danger">
            Proceed
          </button>
        </div>
      </div>
    </footer>
  </div>
</div>

<div class="modal" *ngIf="person" [ngClass]="{ 'is-active': isTimeLineModalOpen }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <div class="timeline">
        <header class="timeline-header">
          <span class="tag is-small is-primary">...</span>
        </header>
        <div *ngFor="let comment of person.comments">
          <span *ngIf="comment.name == 'updates'">
            <span *ngFor="let update of getObject(comment.value)">
              <div class="timeline-item">
                <div class="timeline-marker"></div>
                <div class="timeline-content">
                  <p>
                    {{ update.owner }}&emsp;<span class="tag is-small is-light">{{ update.ts }}</span>
                  </p>
                </div>
              </div>
            </span>
          </span>
        </div>
        <div class="timeline-header">
          <span class="tag is-small is-primary">...</span>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="columns is-gapless full-width">
        <div class="column is-half"></div>
        <div class="column is-half has-text-right">
          <button (click)="closeHistory()" class="button is-info">OK</button>
        </div>
      </div>
    </footer>
  </div>
</div>

<div class="modal" [ngClass]="{ 'is-active': isModalOpen }">
  <form *ngIf="form" [formGroup]="form">
    <div class="modal-background"></div>
    <div class="modal-card" style="width: fit-content">
      <div *ngIf="isFormBusy" class="load-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <section class="modal-card-body">
        <div class="form-row">
          <mat-form-field class="field-new" appearance="outline" [ngClass]="
              form.get('lastName').errors &&
              form.get('lastName').dirty 
                ? 'extra-margin'
                : ''
            ">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" [readonly]="isReadOnly" />
            <mat-hint>{{ fieldValidation("lastName")?.description }}
              <span *ngIf="isFieldRequired('firstName')">
                <b>(required)</b>
              </span>
            </mat-hint>
            <mat-error *ngIf="form.get('lastName')?.errors?.lastName">
              {{ form.get("lastName").errors.lastName.error }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-new" appearance="outline">
            <mat-label>Middle name(s)</mat-label>
            <input matInput formControlName="midInitials" [readonly]="isReadOnly" />
            <mat-hint>{{
              fieldValidation("midInitials")?.description
              }}</mat-hint>
            <mat-error *ngIf="form.get('midInitials')?.errors?.midInitials">
              {{ form.get("midInitials").errors.midInitials.error }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="field-new" appearance="outline" [ngClass]="
              form.get('firstName').errors &&
              form.get('firstName').dirty 
                ? 'extra-margin'
                : ''
            ">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" [readonly]="isReadOnly" />
            <mat-hint>{{ fieldValidation("firstName")?.description }}
              <span *ngIf="isFieldRequired('firstName')">
                <b>(required)</b>
              </span>
            </mat-hint>
            <mat-error *ngIf="form.get('firstName')?.errors?.firstName">
              {{ form.get("firstName").errors.firstName.error }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <ng-container *ngIf="_controlList && !_controlList.renderAsDropdown; else dropdownField">
            <div class="half-width">
              <span>
                <mtbls-ontology *ngIf="showOntology" class="mt-20" #personRoles [validations]="fieldValidation('roles')"
                  [controlList]="_controlList" (changed)="onChanges($event)" [values]="person.roles" [inline]="true"
                  [rule]="_controlList?.rule" [defaultOntologies]="_controlList?.defaultOntologies" [label]="'Role'"
                  (emptyError)="onEmptyError($event)"
                  [hasError]="form?.get('roles')?.invalid && form?.get('roles')?.touched"></mtbls-ontology>
              </span>
            </div>
          </ng-container>

          <ng-template #dropdownField>
            <mat-form-field class="full-width" appearance="outline"
              *ngIf="_controlList?.values?.length && form.get('roles')">
              <mat-select formControlName="roles" placeholder="Role" (selectionChange)="onChanges($event)">
                <mat-option *ngFor="let option of _controlList.values" [value]="option.annotationValue">
                  {{ option.annotationValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ng-template>
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>ORCID</mat-label>
            <input class="no-scroll" formControlName="orcid" [readonly]="isReadOnly" matInput />
            <a matSuffix target="_blank" [href]="getOrcidUrl()" class="search-link">
              <small>Search ORCID</small>
            </a>
            <mat-hint>{{ fieldValidation("orcid")?.description }}
            </mat-hint>
            <mat-error *ngIf="
                form.get('orcid').errors &&
                form.get('orcid').dirty &&
                form.get('orcid').errors.orcid
              ">
              {{ form.get("orcid").errors.orcid.error }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input class="no-scroll" formControlName="email" [readonly]="isReadOnly" matInput />
            <mat-hint>
              {{ fieldValidation("email")?.description }}
              <span *ngIf="getIsRequired('email')"><b>(required)</b></span>
            </mat-hint>
            <mat-error *ngIf="
                form.get('email').errors &&
                form.get('email').dirty &&
                form.get('email').errors.email
              ">
              {{ form.get("email").errors.email.error }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Alternative Email</mat-label>
            <input class="no-scroll" formControlName="alternativeEmail" [readonly]="isReadOnly" matInput />
            <mat-hint>{{
              fieldValidation("alternativeEmail")?.description
              }}</mat-hint>
            <mat-error *ngIf="
                form.get('alternativeEmail').errors &&
                form.get('alternativeEmail').dirty &&
                form.get('alternativeEmail').errors.alternativeEmail
              ">
              {{ form.get("alternativeEmail").errors.alternativeEmail.error }}
            </mat-error>
          </mat-form-field>
        </div>

        <!-- <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <input
                  class="no-scroll"
                  formControlName="phone"
                  [readonly]="isReadOnly"
                  matInput
                />
                <mat-hint>{{ fieldValidation("phone")?.description }}</mat-hint>
                <mat-error
                  *ngIf="
                    form.get('phone').errors &&
                    form.get('phone').dirty &&
                    form.get('phone').errors.phone
                  "
                >
                  {{ form.get("phone").errors.phone.error }}
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <input
                  class="no-scroll"
                  formControlName="fax"
                  [readonly]="isReadOnly"
                  matInput
                />
                <mat-hint>{{ fieldValidation("fax")?.description }}</mat-hint>
                <mat-error
                  *ngIf="
                    form.get('fax').errors &&
                    form.get('fax').dirty &&
                    form.get('fax').errors.fax
                  "
                >
                  {{ form.get("fax").errors.fax.error }}
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table> -->
        <mat-form-field class="full-width" appearance="outline" style="padding-bottom: 20px;">
          <mat-label>Address</mat-label>
          <textarea class="no-scroll" formControlName="address" [readonly]="isReadOnly" matInput cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="4" cdkTextareaAutosize></textarea>
          <mat-hint>{{ fieldValidation("address")?.description }}</mat-hint>
          <mat-error *ngIf="
              form.get('address').errors &&
              form.get('address').dirty &&
              form.get('address').errors.address
            ">
            {{ form.get("address").errors.address.error }}
          </mat-error>
        </mat-form-field>
        <div class="form-row">
          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Affiliation</mat-label>
            <input type="text" matInput formControlName="affiliation" [matAutocomplete]="auto"
              [readonly]="isReadOnly" />
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAffiliationSelected($event)">
              <mat-option *ngFor="let org of filteredOrganizations$ | async" [value]="org">
                <div>
                  {{ org.name }} - {{ org.id?.split('/').pop() || '(Unknown ID)' }}
                </div>
                <div style="font-size: 12px; color: #666;">
                  {{ org?.description || '(No description available)' }}
                </div>
              </mat-option>
            </mat-autocomplete>
            <mat-hint>
              {{ fieldValidation("affiliation")?.description }}
              <span *ngIf="getIsRequired('affiliation')">
                <b>(required)</b>
              </span>
            </mat-hint>
            <mat-error *ngIf="
                form.get('affiliation').errors &&
                form.get('affiliation').dirty &&
                form.get('affiliation').errors.affiliation
              ">
              {{ form.get("affiliation").errors.affiliation.error }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="half-width" appearance="outline">
            <mat-label>Affiliation ROR ID</mat-label>
            <input class="no-scroll" formControlName="rorid" [readonly]="isReadOnly" matInput />
            <a matSuffix target="_blank" [href]="getRoridUrl()" class="search-link">
              <small>Search ROR ID</small>
            </a>
            <mat-hint>{{ fieldValidation("rorid")?.description }}
            </mat-hint>
            <mat-error *ngIf="
                form.get('rorid').errors &&
                form.get('rorid').dirty &&
                form.get('rorid').errors.rorid
              ">
              {{ form.get("rorid").errors.rorid.error }}
            </mat-error>
          </mat-form-field>
        </div>
      </section>
      <footer *ngIf="!isReadOnly" class="modal-card-foot">
        <div class="columns is-gapless full-width">
          <div class="column is-half">
            <button type="button" *ngIf="!addNewPerson" class="button is-danger is-pulled-left"
              (click)="confirmDelete()">
              <mat-icon>delete</mat-icon>
            </button>
            <button type="button" *ngIf="!addNewPerson && person.email" class="button is-secondary is-pulled-left"
              (click)="approveGrantSubmitterRole()">
              <mat-icon>person</mat-icon> Make Submitter
            </button>
          </div>
          <div class="column is-half has-text-right">
            <button type="submit" [disabled]="!form.valid || isFormBusy || form.pristine" (click)="saveNgxs()"
              class="button is-info">
              <mat-spinner [diameter]="20" [strokeWidth]="3" *ngIf="isFormBusy"></mat-spinner>
              Save
            </button>
            <!-- <button type="submit"
              *ngIf="form.pristine"
              (click)="closeModal()"
              class="button is-info"
            >
              OK
            </button> -->
            <button type="button" class="button" [disabled]="isFormBusy" (click)="closeModal()">
              Cancel
            </button>
          </div>
        </div>
      </footer>
      <footer *ngIf="isReadOnly" class="modal-card-foot">
        <div class="columns is-gapless full-width">
          <div class="column is-half"></div>
          <div class="column is-half has-text-right">
            <button (click)="closeModal()" class="button is-info">OK</button>
          </div>
        </div>
      </footer>
    </div>
  </form>
</div>