<div class="parent" [ngClass]="{
    'top-border-error': violation.type === 'ERROR',
    'top-border-warning': violation.type === 'WARNING',
    'top-border-info': violation.type === 'INFO',
    'top-border-success': violation.type === 'SUCCESS'
  }">

    <div class="container">
        <div class="content">
            <div class="row-container">

                <div class="row-key">
                    <span class="material-symbols-outlined">
                        breaking_news
                        </span>
                </div> 
                    <div class="row-content"> <h2>{{ violation.title }}</h2> </div>
            </div>
        </div>
        <div class="content">
            <div class="row-container">
                <div class="row-key">
                    <span class="material-symbols-outlined">
                        description
                        </span>
                </div> 
                <div class="row-content"> {{ violation.description }} <br> {{violation.violation}}</div> 
            </div>
        </div>
        <div class="content">
            <div class="row-container">
                <div class="row-key">
                    <span class="material-symbols-outlined">
                        my_location
                        </span>
                    <!--<b>LOCATION</b>-->
                </div> <div class="row-content"> {{ violation.sourceFile}}</div>
            </div>
        </div>
        <div class="sidebar sidebar-top" > 
            <div class="type" [ngClass]="{
            'bg-error': violation.type === 'ERROR',
            'bg-warning': violation.type === 'WARNING',
            'bg-info': violation.type === 'INFO',
            'bg-success': violation.type === 'SUCCESS'
          }"><span class="material-symbols-outlined">
            {{typeIcon}}
            </span><b>{{ violation.type }}</b> </div>
          <div class="button-container sidebar-bottom"> 
    
            <button *ngIf="violation.values.length > 0 " (click)="openInfoModal()" class="button bc-item rounded-top-button is-dark"><mat-icon>info</mat-icon>&nbsp; Details</button>
            <a   [href]="
            'mailto:metabolights-help@ebi.ac.uk?subject=Regarding validation rule - ' +
            violation.identifier
          " class="button bc-item is-dark"><mat-icon>mail</mat-icon>&nbsp; Contact</a>
            <button *ngIf="isCurator" class="button bc-item rounded-bottom-button is-dark" (click)="openRawModal()"><mat-icon>visibility</mat-icon>&nbsp; View Raw</button>
            <button *ngIf="isCurator && (violation.type === 'ERROR' || violation.type === 'WARNING')" (click)="handleOverride(violation)" class="button bc-item rounded-bottom-button is-dark"><span class="material-symbols-outlined">
                sword_rose
                </span> &nbsp; Override</button>
    
          </div>
          <div class="spinner-container">

          </div>
    
        </div>
    
    </div>
    <div class="violation-footer">
        <div class="footer-container">
            <div class="violation-footer-item footer-container-1">
                <small> <b>Rule ID:</b> {{ violation.identifier}} </small>
                    <div (click)="copyToClipboard(violation.identifier)" class="icon-container"><mat-icon>content_copy</mat-icon></div>
            </div>
            <div class="violation-footer-item footer-container-2">
                <small><b>Section:</b> {{violation.section }}</small>
                    <div (click)="copyToClipboard(violation.section)" class="icon-container"><mat-icon>content_copy</mat-icon></div>
            </div>
            <div class="violation-footer-end-item footer-container-3">   
                <small>
     
                <div class="breakdown-tags">
                    <b>Total Violations </b>
                    &nbsp;&nbsp;&nbsp;
                    <div class=" has-addons">
                        <span class="tag is-dark">Errors</span>
                        <span class="tag is-danger"> {{breakdown.errors}} </span>
                      </div>
                      &nbsp;&nbsp;&nbsp;
                      <div class="tags has-addons">
                        <span class="tag is-dark">Warnings</span>
                        <span class="tag is-warning"> {{breakdown.warnings}} </span>
                      </div>
                </div>
            </small>

            </div>
        </div>
    </div>
</div>
<div *ngIf="isRawModalOpen === true">
    <raw-violation-modal [violation]="violation" (closeEvent)="closeRawModal()">
    </raw-violation-modal>
</div>
<div *ngIf="isInfoModalOpen === true">
    <violation-info-modal [violation]="violation" (closeEvent)="closeInfoModal()"></violation-info-modal>
</div>
<div *ngIf="isOverrideModalOpen === true">
    <override-modal [violation]="violation" (closeEvent)="closeOverrideModal()"></override-modal>
</div>