<div *ngIf="!isReadOnly" class="notification is-primary">
  <small><mat-icon>info</mat-icon>Please complete the table below to describe the samples (including QCs). Values for
    ‘Characteristics’ such as ‘Organism’ and ‘Organism Part’ must be added as well as ‘Factor’ information to describe
    experimental design and groups of samples, for example, ‘Disease’, ‘Treatment’ or ‘Timepoint’.
    <br />
    <b>Please see the <a href="https://ebi-metabolights.github.io/guides/Sample/" target="_BLANK">Guides</a> for more
      information on how to complete your Samples section.</b>
  </small>
</div>
<ng-container *ngIf="samples === null; else dataLoaded">
  <div class="vc vh50 has-text-centered" style="flex-direction: column;">
    <mat-spinner [diameter]="40"></mat-spinner>
    <p class="mt10">Loading samples...</p>
  </div>
</ng-container>

<ng-template #dataLoaded>
  <div *ngIf="duplicateSamples.length > 0 && !isReadOnly" class="notification is-warning">
    <small><mat-icon>info</mat-icon>Duplicate samples exist in the sample sheet <br />
      <span *ngFor="let sample of duplicateSamples">
        <span (click)="sampleTable.filterDuplicate(sample)" class="pointer tag is-white">{{ sample }}</span>&nbsp;
      </span>
    </small>
  </div>
  <!--
    <div *ngIf="emptySamplesExist" class="notification is-warning">
      <small><mat-icon>info</mat-icon>Empty samples exist in the sample sheet</small>
    </div>
  -->
  <div class="column is-12 nprl nmrl fadeIn">
    <mtbls-factors [isSampleSheet]="true" [unSelectedFactors]="unSelectedFactors"
      (addFactorToSampleSheet)="openAddColumnModal('factor', $event)"
      (addFactorToSampleSheetUnitInclusive)="handleIncl('factor', $event)"></mtbls-factors>
  </div>
  <app-prompt-refresh *ngIf="!isReadOnly && showRefreshPrompt()" [context]="'samples'"></app-prompt-refresh>

  <mtbls-table [fileTypes]="fileTypes" (updated)="refresh()" [tableData]="samples" validationsId="samples"
    [factors]="factors" [showAddSample]="true" (addSampleClick)="openAddSamplesModal()"
    (refreshTableData)="refreshSamplesTableWithoutPopup()"></mtbls-table>
</ng-template>

<!--Add column modal start-->
<div class="modal" [ngClass]="{ 'is-active': addColumnModalOpen }">
  <div class="modal-background"></div>
  <!--Add Characteristic Column Startt-->
  <div *ngIf="addColumnType && addColumnType == 'characteristic'" class="modal-card">
    <div *ngIf="isFormBusy" class="load-bar">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <form *ngIf="form" [formGroup]="form">
      <section class="modal-card-body">
        <div>
          <mtbls-ontology [id]="'characteristicCategory'" [validations]="fieldValidation('category')"
            [controlList]="controlList('Characteristics')" (changed)="onChanges($event)" [values]="[]" [inline]="true"
            [rule]="controlList('Characteristics').rule"
            [defaultOntologies]="controlList('Characteristics').defaultOntologies"></mtbls-ontology>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="columns is-gapless full-width">
          <div class="column is-one-third"></div>
          <div class="column is-two-third has-text-right">
            <button (click)="closeAddColumnModal()" class="button">
              Cancel
            </button>
            <button (click)="addColumn('characteristic')" class="button is-info">
              Add characteristic Column
            </button>
          </div>
        </div>
      </footer>
    </form>
  </div>
  <!--Add Characteristic column end-->

  <!--Add factor column start-->
  <div *ngIf="addColumnType && addColumnType == 'factor'" class="modal-card">
    <div *ngIf="isFormBusy" class="load-bar">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <form *ngIf="form" [formGroup]="form">
      <section class="modal-card-body">
        <h6 class="modal-card-title">
          Add factor column to Sample sheet -
          <span class="highlight">{{ selectedFactor === null ? "" : selectedFactor.factorName }}</span>
        </h6>
        <mtbls-ontology [id]="'factorUnit'" class="mt-20" #factorUnit [validations]="fieldValidation('unit')"
          [controlList]="controlList('unit')" (changed)="onChanges($event)" [values]="[]" [inline]="true"
          [rule]="controlList('unit').rule"
          [defaultOntologies]="controlList('unit').defaultOntologies"></mtbls-ontology>
      </section>
      <footer class="modal-card-foot">
        <div class="columns is-gapless full-width">
          <div class="column is-half"></div>
          <div class="column is-half has-text-right">
            <button (click)="closeAddColumnModal()" class="button">
              Cancel
            </button>
            <button (click)="addColumn('factor', selectedFactor)" class="button is-info">
              Add Factor Column
            </button>
          </div>
        </div>
      </footer>
    </form>
  </div>
  <!--Add factor column end-->
</div>
<!--Add column modal end-->

<!--Add samples modal start-->
<div class="modal" [ngClass]="{ 'is-active': isAddSamplesModalOpen }">
  <form *ngIf="form" [formGroup]="form">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div *ngIf="isFormBusy" class="load-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <section class="modal-card-body">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>{{ validation["samples"].label }}</mat-label>
                  <textarea class="no-scroll" formControlName="samples" matInput
                    [placeholder]="validation['samples'].placeholder" cdkAutosizeMinRows="20" cdkAutosizeMaxRows="10"
                    cdkTextareaAutosize>
                  </textarea>
                  <mat-hint>{{ validation.samples.description }}</mat-hint>
                  <mat-error *ngIf="
                      form.get('samples').errors &&
                      form.get('samples').dirty &&
                      form.get('samples').errors.samples
                    ">
                    {{ form.get("samples").errors.samples.error }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="duplicateNames && duplicateNames.length > 0">
                <small class="tiny"><mat-icon>info</mat-icon> Duplicates alert: Sample names
                  already exist in the Sample Sheet. Please proceed to add the
                  new sample names.</small>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="columns is-gapless full-width">
          <div class="column is-two-third">
            <!-- <button
              class="button is-primary is-small"
              (click)="importFileNamesFromRawData()"
            >
              Import RAW Data Filenames
            </button> -->
          </div>
          <div class="column is-one-third has-text-right">
            <button class="button is-info" [disabled]="isFormBusy" (click)="closeAddSamplesModal()">
              Cancel
            </button>
            <button (click)="addSamples()" class="button is-info">Add</button>
          </div>
        </div>
      </footer>
    </div>
  </form>
</div>
<!--Add samples modal end-->