<span *ngIf="type == 'icon'; else ButtonDownload">
  <a (click)="getDownloadLink()">
    <mat-icon>cloud_download</mat-icon>
  </a>
</span>
<ng-template #ButtonDownload>
  <a
    (click)="getDownloadLink()"
    class="button is-small is-light"
  >
    <mat-icon>cloud_download</mat-icon> Download
  </a>&nbsp;
  <a *ngIf="!selectedMetaFiles || selectedMetaFiles.length === 1"
    (click)="viewFile()"
    class="button is-small is-light"
  >
    <mat-icon>pageview</mat-icon> View File
  </a>
</ng-template>
