<br>
<section class="container">
    <br>
    <div class="toggle-group-container">
        <h3><b>Subsections</b></h3>
        <br>

      <mat-button-toggle-group
        name="subsections"
        aria-label="Subsections"
        [hideMultipleSelectionIndicator]="true"
        [(ngModel)]="selectedSubsections"
        multiple
      >
        <mat-button-toggle 
        *ngFor="let subsection of subsections" 
        [value]="subsection"
        [class.selected-button]="selectedSubsections.includes(subsection)"
        >
          {{ subsection | addSpaceBeforeCapital }}
        </mat-button-toggle>
      </mat-button-toggle-group>


      </div>
      <div class="toggle-group-container">
        <h3><b>Violation Types</b></h3>

        <mat-button-toggle-group
        name="violation-type"
        aria-label="ViolationType"
        [hideMultipleSelectionIndicator]="true"
        [(ngModel)]="selectedViolationTypes"
        class="w-100"
        multiple
      >
        <mat-button-toggle
        *ngFor="let type of violationTypes"
        [value]="type"
        [class.selected-button]="selectedViolationTypes.includes(type)"
  
  
        >
        {{type}}
        </mat-button-toggle>
  
      </mat-button-toggle-group>
      </div>




  </section>
  <br>
<div *ngIf="violations.length > 0; else noViolations">
    <div *ngFor="let violation of violations; let i = index;">
        <prototype-detail *ngIf="subsectionSelected(violation.section) && selectedViolationTypes.includes(violation.type)" [violation]="violation"></prototype-detail>
        <br>
    </div>
</div>

<!--No violations found template-->
<ng-template #noViolations>
    <mat-card class="no-violations-card">
        <!--<img src="{{ baseHref }}assets/img/MetaboLightsLogo.png" class="ml-logo"/><br />-->

        <div class="no-violations-content">
            <span class="material-symbols-outlined flask">
                experiment
                </span> No Violations
        </div>
        <br>

    </mat-card>
<br>
</ng-template>
