<!--<mat-expansion-panel
  class="validation-detail"
  [ngClass]="[validationDetail.status, 'panel-block']"
  [style.display]="'block'"
  (opened)="panelOpenState = true"
  [disabled]="disabled"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header
    [ngClass]="{
      'val-header': hasDescription && validationDetail.status !== 'success'
    }"
    [expandedHeight]="500"
  >
    <div class="wrapper container">
      <div class="val-message">
        {{ validationDetail.message }}.

      </div>
      <div>
        <span
          class="override"
          *ngIf="isCurator && validationDetail.status === 'error'"
        >
          &nbsp;
          <a (click)="overrideValidation(validationDetail)">
            <mat-icon>info</mat-icon>Override
          </a>
        </span>
      </div>

      <ng-template
        [ngIf]="
          validationDetail.description &&
          (validationDetail.status === 'error' ||
            validationDetail.status == 'warning')
        "
      >
        <div class="val-description">
          ({{ validationDetail.description }}) <br />
        </div>
      </ng-template>
    </div>
  </mat-expansion-panel-header>
  <mat-divider class="divide-longer"></mat-divider>

  <mat-panel-description> </mat-panel-description>

  <ng-container *ngIf="validationDetail.comment; else noComment">
    <app-validation-detail-comment

      [curator]="isCurator"
      [comment]="validationDetail.comment"
      (commentSaved)="propagateComment($event)"
    ></app-validation-detail-comment>
  </ng-container>
  <ng-template #noComment>
    <app-validation-detail-comment

      [curator]="isCurator"
      (commentSaved)="propagateComment($event)"
    ></app-validation-detail-comment>
  </ng-template>
</mat-expansion-panel>-->
<!--validation message start-->
<div
class="container"
[ngClass]="[validationDetail.status, 'container']"
[ngStyle]="{'width': isCurator === true ? '85%' : '100% !important'}"
>
  <div class="message">
    {{validationDetail.message}}
    <ng-template
    [ngIf]="
      validationDetail.description &&
      (validationDetail.status === 'error' ||
        validationDetail.status == 'warning')
    "
  >
    <div class="val-description">
      ({{ validationDetail.description }}) <br />
    </div>
  </ng-template>
  </div>
  <!--button box start-->
  <div *ngIf="true" class="button-block">
    <div>
      <span
      class="override"
      *ngIf="isCurator && validationDetail.status === 'error'"
    >
      &nbsp;
      <button (click)="overrideValidation(validationDetail)" class="button override-text">
        <mat-icon>info</mat-icon>Override
      </button>
    </span>
    </div>
    <div
    class="chevron"
    matTooltip="Click to show or hide comment box."
    *ngIf="evalCommentButton()">
      <button (click)="handleBoxClick()" class="button toggle-comment">
        <mat-icon class="icon-translate">rate_review</mat-icon>
        {{ visible === true ? 'Hide' : 'Show'}}

      </button>
    </div>
  </div>
<!--button box end-->
</div>
<!--validation message end-->

<!--comment box section start-->
<div class="comment-box"
     [ngClass]="visible === true ? 'visible' : 'null'">
<ng-container *ngIf="validationDetail.comment; else noComment">
  <div *ngIf="visible">
    <app-validation-detail-comment
    [curator]="isCurator"
    [comment]="validationDetail.comment"
    (commentSaved)="propagateComment($event)"
  ></app-validation-detail-comment>
  </div>


</ng-container>
<ng-template #noComment>
  <div *ngIf="visible">
    <app-validation-detail-comment
    [curator]="isCurator"
    (commentSaved)="propagateComment($event)"
  ></app-validation-detail-comment>
  </div>
</ng-template>
</div>
<mat-divider ></mat-divider>

<!--comment box section end-->
