:host /deep/ .ql-container {
  min-height: 250px;
}

.dd-element {
  display: inline-block;
  padding-right: 1em;
  width: 1.4em;
}
.placeholder-text {
  color: #b5b5b5;
  font-size: .875em;
  font-style: italic;
}