button.is-fullwidth{
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: auto !important;
}

.notification.is-primary {
    background-color: #b4d1d626;
    color: #000;
}

p{
	padding: 10px 15px;
}

code {
    display: block;
    border-radius: 4px;
    background-color: #333;
    padding: 10px;
    letter-spacing: .1px;
    color: #ecf319;
}