<div class="field">
  <button (click)="openUploadModal()" class="button is-link is-fullwidth">
    Aspera Upload
  </button>
</div>
<small class="had-text-grey is-pulled-right"
  ><a (click)="toggleHelp()"><mat-icon>help</mat-icon> Help </a>&emsp;</small
>
<div class="modal" [ngClass]="{ 'is-active': displayHelpModal }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <p>
        <b>Aspera Upload</b><br /><br />
        Aspera is a fast way of transferring files. Aspera lets you control the
        transfer rate to better suit your internet connection. You can also stop
        the transfer, and later resume where you left off. <br /><br />
        For more information on how to use Aspera for transferring files, please refer to our 
        <a href="https://ebi-metabolights.github.io/guides/Files/#1-aspera-connect-plugin-recommended-for-small-set-of-files" target="_blank">Help Documentation</a>.
      </p>
    </section>
    <footer class="modal-card-foot">
      <div class="columns is-gapless full-width">
        <div (click)="toggleHelp()" class="column is-full has-text-right">
          <button class="button is-default">Close</button>
        </div>
      </div>
    </footer>
  </div>
</div>
<div class="modal" [ngClass]="{ 'is-active': isAsperaUploadModalOpen }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <div class="tabs is-toggle is-fullwidth">
        <ul>
          <li
            (click)="changeTab('plugin')"
            [ngClass]="{ 'is-active': selectedTab == 'plugin' }"
          >
            <a>Aspera Connect transfer plug-in</a>
          </li>
        </ul>
      </div>
      <span>
        <div
          *ngIf="selectedTab == 'plugin'"
          class="content-wrapper has-text-centered vc"
        >
          <div>
            <br /><img
              src="assets/img/aspera.jpeg"
              style="height: 100px"
            /><br /><br />
            <span>
              <button (click)="upload('file')" class="button is-success">
                Upload file<span *ngIf="allowMultipleSelection">s</span>
              </button>
            </span>
            &nbsp;
            <span *ngIf="allowMultipleSelection">
              <button (click)="upload('folder')" class="button is-success">
                Upload folder<span *ngIf="allowMultipleSelection">s</span>
              </button>
            </span>
            <br /><br /><br /><small class="has-text-grey"
              ><b
                ><a
                  href="https://www.ibm.com/products/aspera/downloads#cds"
                  target="_blank"
                  >Install IBM ASPERA Connect</a
                ></b
              > | <b
                ><a
                  href="https://www.ibm.com/docs/en/aspera-connect/"
                  target="_blank"
                  >IBM ASPERA Connect Documentation</a
                ></b
              ></small
            >
          </div>
        </div>
      </span>
      <div>
        <p>
          For more information on how to use Aspera for uploading files, please refer to our 
          <a href="https://ebi-metabolights.github.io/guides/Files/#1-aspera-connect-plugin-recommended-for-small-set-of-files" target="_blank">Help Documentation</a>.
        </p>
      </div>
      <div class="panel-block notification is-primary" style="margin-top: 20px">
        <small class="is-tiny">
          <i>
            <mat-icon
              class="mat-icon notranslate material-icons mat-icon-no-color"
              role="img"
              aria-hidden="true"
              >info</mat-icon
            >
            You may close this modal and proceed to the next steps while the
            files are being uploaded
          </i>
        </small>
      </div>
    </section>
    <footer class="modal-card-foot">
      <div class="columns is-gapless full-width">
        <div class="column is-two-third">
          <mtbls-help target="aspera">
            <span class="clickable">
              Video tutorial <i class="material-icons"> help_outline </i></span
            >
            <div class="modal">
              <div class="modal-background"></div>
              <div class="modal-card">
                <section class="modal-card-body">
                  <div class="has-text-centered">
                    <video controls="" width="100%">
                      <source type="video/mp4" src="{{ this.videoURL }}" />
                      Your browser does not support HTML5 video.
                    </video>
                  </div>
                </section>
                <footer class="modal-card-foot buttons is-right">
                  <div class="columns is-gapless full-width">
                    <div class="column is-two-third">
                      <a
                        class="button is-default"
                        href="mailto:metabolights-help@ebi.ac.uk?subject=MetaboLights online submission tool/editor feedback!"
                      >
                        <mat-icon
                          class="mat-icon material-icons notranslate mat-icon-no-color"
                          role="img"
                          style="font-size: 0.93em"
                          aria-hidden="true"
                          >Contact us</mat-icon
                        >
                        Feedback
                      </a>
                    </div>
                    <div class="column is-one-third has-text-right">
                      <button class="button is-info">OK</button>
                    </div>
                  </div>
                </footer>
              </div>
            </div>
          </mtbls-help>
        </div>
        <div
          (click)="closeUploadModal()"
          class="column is-one-third has-text-right"
        >
          <button class="button is-default">Close</button>
        </div>
      </div>
    </footer>
  </div>
</div>
