<nav-bar :mode="light"></nav-bar>
<a
  href="mailto:metabolights-help@ebi.ac.uk?subject=MetaboLights online submission tool feedback!"
  id="fixedbutton"
  ><mat-icon class="mat-icon material-icons">feedback</mat-icon> Contact us
</a>
<div class="columns" style="min-height: 100vh; margin: 60px 0">
  <div class="column is-8 is-offset-2">

    <div style="margin: 0 0 20px 0">
      <article class="message is-small has-shadow">
        <div (click)="toggleMessage()" class="message-header">
          <p>
            <span class="material-icons">info</span>&nbsp;We're experiencing
            longer than usual review times
          </p>
          <button
            *ngIf="!messageExpanded"
            style="background-color: transparent; border: 0"
          >
            <span class="material-icons">keyboard_arrow_down</span>
          </button>
          <button
            *ngIf="messageExpanded"
            style="background-color: transparent; border: 0"
          >
            <span class="material-icons">keyboard_arrow_up</span>
          </button>
        </div>
        <div *ngIf="messageExpanded" class="message-body">
          Due to increased data submissions, the curation stage may be longer
          than our standard 28 days. We apologise for any inconvenience and
          please contact us if you have any specific requirements.
        </div>
      </article>
    </div>
    <div *ngIf="banner" style="margin: 0 0 5px 0">
      <div class="col-md-12 ">
        <div class="banner" [innerHTML]="banner"></div>
      </div>
    </div>
    <nav class="panel has-background-white">
      <p class="panel-heading">
        <img
          style="height: 32px"
          class="is-pulled-left"
          src="{{ baseHref }}assets/img/MetaboLightsLogo.png"
        />
        <span style="margin-left: 10px"
          >My Studies - {{ loginName }}
          <small *ngIf="studies.length > 0">({{ studies.length }})</small></span
        >
        <span class="is-pulled-right" *ngIf="!underMaintenance">
          <small style="font-size: 0.8em !important"
            ><mtbls-help target="createStudy"></mtbls-help></small
          >&nbsp;
          <a
            [class.disabled]="loadingStudies"
            (click)="createNewStudy()"
            class="button is-success is-small"
            ><b>+ Create New Study</b></a
          >
        </span>
      </p>
      <div class="panel-block">
        <p class="control">
          <input
            [disabled]="loadingStudies"
            (keyup)="applyFilter($event.target.value)"
            class="input is-small"
            type="text"
            placeholder="Filter my studies"
          />
        </p>
      </div>
      <p class="panel-tabs">
        <a (click)="filterStudies(null)" [class.is-active]="filterValue == null"
          >All</a
        >
        <a
          (click)="filterStudies('submitted')"
          [class.is-active]="filterValue == 'submitted'"
          >Submitted</a
        >
        <a
          (click)="filterStudies('in curation')"
          [class.is-active]="filterValue == 'in curation'"
          >In Curation</a
        >
        <a
          (click)="filterStudies('in review')"
          [class.is-active]="filterValue == 'in review'"
          >In Review</a
        >
        <a
          (click)="filterStudies('public')"
          [class.is-active]="filterValue == 'public'"
          >Public</a
        >
      </p>
      <span *ngIf="filteredStudies.length > 0; else noStudies">
        <div *ngFor="let study of filteredStudies">
          <span class="panel-block">
            <span class="px-2 py-1">
              <h2 class="has-text-weight-bold">
                <b
                  >{{ study.accession }}:
                  <span
                    *ngIf="
                      study.title.replace(' ', '') == '';
                      else noStudyTitle
                    "
                  >
                    <i class="has-text-grey-lighter">No title specified</i>
                  </span>
                  <ng-template #noStudyTitle>
                    {{ study.title }}
                  </ng-template>
                </b>
              </h2>
              <div id="meta" class="field is-grouped is-grouped-multiline py-1">
                <div class="control py-0 mb0">
                  <div class="tags has-addons">
                    <span class="tag">Status</span>
                    <span *ngIf="study.status == 'Public'; else onlyStatus" >
                      <span *ngIf="study.curationRequest == 'MANUAL_CURATION'; else noCuration"
                        class="tag is-success"
                        >{{ study.status }} - Curated
                      </span>
                      <ng-template #noCuration>
                          <span
                          class="tag not-curated"
                          >{{ study.status }} - Not Curated
                        </span>
                      </ng-template>
                  </span>
                    <ng-template #onlyStatus>
                        <span
                          class="tag"
                          [class.is-primary]="study.status == 'In Review'"
                          [class.is-danger]="study.status == 'In Curation'"
                          [class.is-warning]="study.status == 'Submitted'"
                          [class.is-success]="study.status == 'Public'"
                          >{{ study.status }}</span
                        >
                    </ng-template>
                  </div>
                </div>
                <div class="control py-0 mb0">
                  <div class="tags has-addons">
                    <span class="tag">Release date</span>
                    <span class="tag is-info">{{ study["releaseDate"] }}</span>
                  </div>
                </div>
              </div>
              <div class="full-width">
                <p
                  *ngIf="study.description.replace(' ', '') != ''"
                  style="padding-bottom: 10px"
                >
                  <small style="font-size: 0.7em">SUMMARY</small> <br /><small
                    [innerHTML]="study.description"
                  ></small>
                </p>
              </div>
              <div *ngIf="!underMaintenance">
                <a
                  [routerLink]="['/guide/info', study.accession]"
                  class="button is-rounded"
                >
                  <small>
                    <mat-icon>view_carousel</mat-icon> Guided submission
                  </small> </a
                >&nbsp;
                <a
                  [routerLink]="['/study', study.accession]"
                  class="button is-rounded"
                >
                  <small>
                    <mat-icon>chrome_reader_mode</mat-icon> Study overview
                  </small>
                </a>
              </div>
            </span>
          </span>
        </div>
      </span>
      <ng-template #noStudies>
        <span *ngIf="!loadingStudies" class="panel-block vh80 vc">
          <span>
            <p><span class="has-text-grey">No studies found</span></p>
            <mtbls-help target="createStudy"></mtbls-help>
          </span>
        </span>
      </ng-template>
    </nav>
    <p *ngIf="loadingStudies" class="has-text-centered">
      <img src="{{ baseHref }}assets/img/loading.svg" /> <br />
      Loading studies
    </p>
  </div>
  <div class="modal" [ngClass]="{ 'is-active': isConfirmationModalOpen }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <section class="modal-card-body">
        <p *ngIf="submittedStudies.length < 2">
          You have {{ submittedStudies.length }} Studies in progress. Are you
          sure you want to create another study?
        </p>
        <p *ngIf="submittedStudies.length > 1 ">
          You have {{ submittedStudies.length }} studies in the SUBMITTED stage.
          To prevent spurious submissions, a maximum of 2 studies are allowed to be in the SUBMITTED stage at any one time.
          If you have a legitimate reason to have more than 2 studies in the SUBMITTED phase, then this is permitted, and you need to contact the Metabolights team with your reason and how many studies you require, through the support email: metabolights-help@ebi.ac.uk
        </p>
      </section>
      <footer class="modal-card-foot">
        <div class="columns is-gapless full-width">
          <div class="column is-half">
            <button (click)="closeConfirmation()" class="button is-info">
              <p *ngIf="submittedStudies.length < 2 ">
                Cancel
              </p>
              <p *ngIf="submittedStudies.length > 1">
                Close
              </p>
            </button>
          </div>
          <div *ngIf="submittedStudies.length < 2 || curator " class="column is-half has-text-right">
            <a [routerLink]="['/guide/create']" class="button is-success"
              >Create new</a
            >
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
