<span *ngIf="inline">
  <div class="ontology-container">
    <mat-form-field class="full-width premium-field" appearance="outline" [class.mat-form-field-invalid]="hasError"
      subscriptSizing="dynamic">
      <mat-label *ngIf="label">{{label}}<span *ngIf="isRequired" class="ml-1">*</span></mat-label>
      <mat-chip-grid #chipList class="custom-chip-list">
        <span *ngFor="let value of values">
          <mat-chip-row *ngIf="value && value.annotationValue" [selectable]="selectable" [removable]="removable"
            (removed)="remove(value)" class="selectable-chip-content premium-chip" (click)="copyText(value)">
            <span class="chip-text">{{ value.annotationValue }}</span>
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip-row>
          <mat-chip [@fadeInOut]="fadeState" class="copy-notification" *ngIf="fadeState === 'in'"> term copied!
          </mat-chip>
        </span>
        <input matInput [placeholder]="validations?.label || 'Search for ontology terms'" #input
          [formControl]="valueCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)"
          class="premium-input" [hidden]="values.length > 0" />
      </mat-chip-grid>

      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)" class="premium-autocomplete">
        <mat-option *ngIf="termsLoading" class="loading-option">
          <mat-spinner diameter="20"></mat-spinner>
          <span class="ml-2">Searching...</span>
        </mat-option>

        <mat-option *ngFor="let value of currentOptions" [value]="value" class="premium-option">
          <div class="option-header mt-2">
            <span class="term-value"><b>{{ value.annotationValue }}</b></span>
            <div class="source-tags is-pulled-right">
              <span *ngIf="value.termSource.provenance_name" class="tag is-info is-light provenance-tag">{{
                value.termSource.provenance_name }}</span>
              <span *ngIf="value.termSource.name" class="tag is-success is-light source-tag">{{ value.termSource.name
                }}</span>
            </div>
          </div>

          <div class="option-details mb-2">
            <code class="accession-code">{{ value.termAccession }}</code>
            <div *ngIf="value.annotationDefinition" class="term-definition mt-1">
              {{ value.annotationDefinition }}
            </div>
            <div *ngIf="value.termSource.name != 'MTBLS'" class="more-info-link mt-1">
              <a (mouseenter)="showMore($event, value)" class="has-text-link is-size-7">more info...</a>
            </div>
          </div>

          <!-- Extended Info Area -->
          <div *ngIf="value.info && value.info != '-'" class="extended-info p-2 mt-1 mb-2">
            <p *ngIf="value.info.description"><small>{{ value.info.description.join(" ") }}</small></p>
            <div *ngFor="let key of getObjectKeys(value.info.annotation || {})">
              <small><b>{{ key.replace("_", " ") }}</b>: {{ value.info.annotation[key].join(" ") }}</small>
            </div>
          </div>
        </mat-option>
      </mat-autocomplete>

      <mat-hint class="premium-hint" *ngIf="validations?.description || loading || isRequired">
        <span class="hint-text" *ngIf="validations?.description">{{ validations?.description }}</span>
        <span *ngIf="loading" class="spinner-container">
          <mat-spinner diameter="12" class="inline-spinner"></mat-spinner>
        </span>
        <span *ngIf="isRequired" class="required-tag is-size-7"><b>(required)</b></span>
      </mat-hint>
    </mat-form-field>
  </div>
</span>
<span *ngIf="!inline">
  <div class="field mt-10">
    <label class="bulma-label has-text-grey"><small>{{ validations?.description }}</small></label>
    <div class="control">
      <a class="button is-success"> <mat-icon>playlist_add</mat-icon> Add </a>
    </div>
  </div>
</span>