.mat-mdc-option {
  white-space: nowrap;
  line-height: 1.25;
  min-height: 75px;
  display: block;
  flex-direction: row;
  max-width: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
.mat-option-text {
  max-width: 570px;
}

.ont-description {
  max-width: 570px;
  font-size: 0.9em;
  margin: 1rem 0;
  overflow: visible;
  line-height: initial;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.ont-description small {
  max-width: 570px;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
::ng-deep .mat-option-text {
  display: inline-block;
  flex-grow: 1;
  padding: 25px 15px;
  overflow: visible !important;
}

.np {
  padding: 0 !important;
}

::ng-deep .tiny {
  font-size: 0.7em !important;
}

.selectable-chip-content {
  user-select: text !important;
}