<button (click)="getWs3Report()">
    Get new validation report
</button>
<mat-card class="example-card">
    <mat-card-header>
      <mat-card-subtitle>{{accession}}</mat-card-subtitle>
      <mat-card-title>Validation Report #1 Breakdown</mat-card-title>
      <div class="container">
        <img src="assets/img/MetaboLightsLogo.png" alt="metabolights logo" class="right-aligned-image">
    </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-button-toggle-group [(ngModel)]="violationsToggle" aria-label="Font Style">
            <mat-button-toggle value="errorsGraphItems">Errors</mat-button-toggle>
            <mat-button-toggle value="warningsGraphItems">Warnings</mat-button-toggle>
            <mat-button-toggle value="bothGraphItems">Both</mat-button-toggle>
          </mat-button-toggle-group>
        <div class="grid-container">
            <div class="centered-content">
                <ngx-charts-pie-grid *ngIf="dataReady && violationsToggle === 'errorsGraphItems'"
                [view]="view"
                [scheme]="colorScheme"
                [results]="errorsGraphItems"
                (select)="onSelect($event)">
              </ngx-charts-pie-grid>
              <ngx-charts-pie-grid *ngIf="dataReady && violationsToggle === 'warningsGraphItems'"
              [view]="view"
              [scheme]="colorScheme"
              [results]="warningsGraphItems"
              (select)="onSelect($event)">
            </ngx-charts-pie-grid>
            <ngx-charts-pie-grid *ngIf="dataReady && violationsToggle === 'bothGraphItems'"
            [view]="view"
            [scheme]="colorScheme"
            [results]="bothGraphItems"
            (select)="onSelect($event)">
          </ngx-charts-pie-grid>
            
            </div>
            <div class="content">
              <h2> Status </h2>
              <div class="is-pulled-right">
                <div class="tags has-addons">
                  <span class="tag is-dark">Validation</span>
                  <span class="tag is-danger" > Failed (fake) </span>
                </div>
            </div>
            
              <div class="is-pulled-right">
                <span>
                  <div class="tags has-addons">
                    <span class="tag is-dark">Last Validation Time</span>
                    <span class="tag is-danger" > <small> - </small> </span>
                  </div>
                </span>
            
              </div>
               <h2>Actions</h2> 
                <mat-card-actions>
                    <button mat-button>Run Validation</button>
                    <button mat-button>Export Report</button>
                  </mat-card-actions>
            </div>
           
        </div>

       <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>