<div>
	<mat-form-field>
		<mat-label>Display Options</mat-label>
		<mat-select [(value)]="displayOption">
			<mat-option [value]="'error'">Errors</mat-option>
			<mat-option [value]="'warning'">Warning</mat-option>
			<mat-option [value]="'info'">Info</mat-option>
			<mat-option [value]="'success'">Success</mat-option>
			<mat-option [value]="'all'">All</mat-option>
		</mat-select>
	</mat-form-field>
	<div class='is-pulled-right'>
		<a (click)="refreshValidations()" class="button is-light">
			<mat-icon>refresh</mat-icon> Refresh
		</a> 
	</div>
	<div>
		&nbsp;
	</div>
	<span *ngFor="let validation of studyValidation.validations ; let i = index">
			<nav class="panel">
				<p class="panel-heading">
					{{ validation['section'] }}
				</p>
				<span *ngFor="let detail of validation.details">
					<span *ngIf="displayOption == 'all' ||  (displayOption != 'all' && displayOption == detail.status)">
						<p [ngClass]="[detail.status, 'panel-block']">
					    	<span class="panel-icon">
					      		<i class="fas fa-book" aria-hidden="true"></i>
					    	</span>
							{{ detail.message }}
							<span *ngIf="curator">
								&nbsp;
								<a (click)="overrideValidation(detail)">
									<mat-icon>info</mat-icon>Override
								</a> 
							</span>
						</p>
					</span>
				</span>
			</nav>
			<span>&nbsp;</span>
	</span>
</div>
