<div class="control">


  <div class="tags has-addons">
    <span class="tag is-dark">Curation</span>

    <span class="tag clickable gold " (click)="openCurationStatusModalOpen()"
    >
      {{
        curationStatus
      }}
      <mat-icon>edit</mat-icon>
    </span>

  </div>

</div>

<div class="modal" [ngClass]="{ 'is-active': isCurationStatusModalOpen }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      You can find the MetaboLights' study curation status definitions below: <br><br>
      <table>
        <tbody>
          <tr>
            <td>
<span class="gold padding">★</span>
            </td>
            <td>
              The study was created but has not passed MetaboLights Validation Framework v2.
            </td>
          </tr>
          <tr>
            <td>
<span class="gold padding">★★</span>
            </td>
            <td >
              The study has passed MetaboLights Validation Framework v2.
            </td>
          </tr>
            <tr>
            <td>
<span class="gold padding">★★★</span>
            </td>
            <td>
              The study has been curated by MetaboLights.
            </td>
          </tr>
        </tbody>
      </table>

    </section>
    <footer class="modal-card-foot buttons is-right">
      <div class="columns is-gapless full-width">
        <div class="column is-two-third"></div>
        <div class="column is-one-third has-text-right">
          <button class="button" [disabled]="isFormBusy" (click)="closeCurationStatusModel()">
            Close
          </button>
        </div>
      </div>
    </footer>
  </div>
</div>
