

<span *ngIf="!isReadOnly" #spacer></span>

<span >
  <div class="wrapper mat-elevation-z1 prevent-deselect">
    <div class="spinner-container">
      <mat-spinner
      [diameter]="20"
      [strokeWidth]="3"
      *ngIf="dataSource.loading$ | async"
    ></mat-spinner>
    </div>
    <div class="spinner-container">
      <mat-spinner
      [diameter]="20"
      [strokeWidth]="3"
      *ngIf="isFormBusy"
    ></mat-spinner>
    </div>
    <div class="rows is-vcentered ml5">
      <span class="row is-6 fadeIn nmrl">
        <span class="has-text-grey">
          <small>File: {{ currentMetadata?.file }}</small>
        </span>
      </span>
      <span class="row is-6 fadeIn has-text-right nmrl ml5">
        <mat-paginator
          [length]="currentMetadata?.totalSize"
          [pageSize]="100"
          [pageSizeOptions]="mlPageSizeOptions"
          showFirstLastButtons
        ></mat-paginator>
      </span>
    </div>

    <mat-table
      *ngIf="currentMetadata && currentPage"
      editTable
      (copy)="onCopy($event)"
      (paste)="onPaste($event)"
      (cut)="onCut($event)"
      class="mat-elevation-z1 tableclass table-margin"
      [dataSource]="dataSource"
      matSort
    >
      <ng-container matColumnDef="Select" sticky>
        <th
          (click)="deSelect()"
          class="clickable table-selector"
          mat-header-cell
          *matHeaderCellDef
        ></th>
        <td
          (dblclick)="editRow(row)"
          (click)="rowClick(row, $event)"
          class="clickable row-selector"
          mat-cell
          *matCellDef="let row"
        ></td>
      </ng-container>
      <ng-container
        *ngFor="let column of currentMetadata?.columns"
        [sticky]="column.sticky"
        [matColumnDef]="column.columnDef"
      >
        <th
          (click)="headerClick(column, $event)"
          (dblclick)="editColumn(column, $event)"
          class="headercell clickable hover-highlight mlc-table"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          {{ formatHeader(column.columnDef) }}
        </th>
        <span *ngIf="!column.calculated; else isStructure">
          <td
            (keydown)="onKeyDown($event)"
            (dblclick)="editCell(row, column, $event, rowIdx)"
            (click)="cellClick(row, column, $event, rowIdx)"
            class="clickable mlc-table"
            [ngClass]="{ selected: isSelected(row, column, rowIdx) }"
            mat-cell
            *matCellDef="let row; let rowIdx = index"
          >
            {{ row[column.columnDef] }}
          </td>
        </span>
        <ng-template #isStructure>
          <td
            (keydown)="onKeyDown($event)"
            class="mlc-table"
            mat-cell
            *matCellDef="let row"
          >
            <span
              *ngIf="isChEBIId(row['database_identifier']); else notChEBIId"
            >
              <img
                appLazyLoad
                width="200"
                height="200"
                [src]="
                  'https://www.ebi.ac.uk/chebi/displayImage.do?defaultImage=true&imageIndex=0&chebiId=' +
                  row['database_identifier'] +
                  '&dimensions=500&scaleMolecule=false'
                "
                alt=""
              />
            </span>
            <ng-template #notChEBIId>
              <small><i>Structure not available</i></small>
            </ng-template>
          </td>
        </ng-template>
      </ng-container>
      <tr
        class="header-row"
        mat-header-row
        *matHeaderRowDef="currentMetadata?.columnNames"
      ></tr>
      <tr mat-row *matRowDef="let row; columns: currentMetadata?.columnNames"></tr>
    </mat-table>
  </div>
  <div class="wrapper mat-elevation-z1">
    <span *ngIf="dataSource && currentPage?.length === 0">
      <div>&nbsp;</div>
      <p class="has-text-centered">
        <small
          >The study does not contain any {{ validationsId }} information.
          <br />
          Please use the options above to add details.
        </small>
      </p>
      <div>&nbsp;</div>
    </span>
  </div>
</span>

<div
  class="modal prevent-deselect"
  [ngClass]="{ 'is-active': isEditColumnModalOpen }"
>
  <form *ngIf="editColumnform" [formGroup]="editColumnform">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div *ngIf="isFormBusy" class="load-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <section class="modal-card-body">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <label>{{ formatHeader(selectedColumn.header) }}</label>
                <div *ngIf="isCellTypeOntology; else cellInputField">
                  <mtbls-ontology
                    [id]="'editOntologyColumn'"
                    [validations]="
                      columnValidations(selectedColumn['header'])
                    "
                    [controlList]="columnControlList(selectedColumn['header'])"
                    (changed)="onChanges($event)"
                    [values]="[]"
                    [inline]="true"
                  ></mtbls-ontology>
                </div>
                <ng-template #cellInputField>
                  <mat-form-field class="full-width">
                    <input class="no-scroll" formControlName="cell" matInput />
                  </mat-form-field>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot buttons is-right">
        <button
          *ngIf="!editColumnform.pristine"
          [disabled]="!editColumnform.valid || isFormBusy"
          (click)="saveColumnSelectedRowsValues()"
          class="button is-info"
        >
          <mat-spinner
            [diameter]="20"
            [strokeWidth]="3"
            *ngIf="isFormBusy"
          ></mat-spinner>
          Save
        </button>
        <button
          *ngIf="editColumnform.pristine"
          (click)="closeEditColumnModal()"
          class="button is-info"
        >
          OK
        </button>
        <button
          class="button"
          [disabled]="isFormBusy"
          (click)="closeEditColumnModal()"
        >
          Cancel
        </button>
      </footer>
    </div>
  </form>
</div>

<div
  class="modal editModal prevent-deselect"
  *ngIf="isEditModalOpen"
  [ngClass]="{ 'is-active': isEditModalOpen }"
>
  <form *ngIf="editCellform" [formGroup]="editCellform">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div *ngIf="isFormBusy" class="load-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <section class="modal-card-body">
        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div *ngIf="isCellTypeOntology && !isCellTypeControlList">
                  <label>{{
                    formatHeader(selectedCell["column"]["columnDef"])
                  }}</label>
                  <mtbls-ontology
                    [id]="'editOntologyCell'"
                    [validations]="
                      columnValidations(
                        selectedCell['column']['header']
                      )
                    "
                    [controlList]="columnControlList(selectedCell['column']['header'])"
                    (changed)="onEditCellChanges($event)"
                    [values]="[selectedCellOntology]"
                    [inline]="true"
                  ></mtbls-ontology>
                </div>
                <div *ngIf="isCellTypeFile">
                  <mat-form-field class="full-width">
                    <mat-select
                      formControlName="cell"
                      placeholder="{{
                        formatHeader(selectedCell['column']['columnDef'])
                      }}"
                    >
                      <mat-option
                        *ngFor="
                          let file of getFiles(selectedCell['column']['header'])
                        "
                        [value]="file.file"
                      >
                        {{ file.file }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div *ngIf="isCellTypeControlList">
                  <label>{{
                    formatHeader(selectedCell["column"]["columnDef"])
                  }}</label>
                  <mtbls-ontology
                    [id]="'editControlListCell'"
                    [validations]="
                      columnValidations(
                        selectedCell['column']['header']
                      )
                    "
                    [controlList]="columnControlList(selectedCell['column']['header'])"
                    (changed)="onEditCellChanges($event)"
                    [values]="[selectedCellOntology]"
                    [inline]="true"
                  ></mtbls-ontology>
                </div>
                <div *ngIf="!isCellTypeFile && !isCellTypeOntology && !isCellTypeControlList">
                  <label>{{
                    formatHeader(selectedCell["column"]["columnDef"])
                  }}</label>
                  <mat-form-field class="full-width">
                    <input class="no-scroll" formControlName="cell" matInput />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot buttons is-right">
        <button
          *ngIf="!editCellform.pristine"
          [disabled]="!editCellform.valid || isFormBusy"
          (click)="saveCell()"
          class="button is-info"
        >
          <mat-spinner
            [diameter]="20"
            [strokeWidth]="3"
            *ngIf="isFormBusy"
          ></mat-spinner>
          Save
        </button>
        <button
          *ngIf="editCellform.pristine"
          (click)="closeEditModal()"
          class="button is-info"
        >
          OK
        </button>
        <button
          class="button"
          [disabled]="isFormBusy"
          (click)="closeEditModal()"
        >
          Cancel
        </button>
      </footer>
    </div>
  </form>
</div>
<div
  class="modal prevent-deselect"
  [ngClass]="{ 'is-active': isDeleteModalOpen }"
>
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <p>Are you sure you want to delete the selected rows?</p>
    </section>
    <footer class="modal-card-foot">
      <div class="columns is-gapless full-width">
        <div class="column is-half">
          <button (click)="closeDelete()" class="button is-info">Cancel</button>
        </div>
        <div class="column is-half has-text-right">
          <button (click)="deleteSelectedRows()" class="button is-danger">
            OK! Delete Permanently
          </button>
        </div>
      </div>
    </footer>
  </div>
</div>
<div class="modal" [ngClass]="{ 'is-active': isEditColumnMissingModalOpen }">
  <div class="modal-background"></div>
  <div
    *ngIf="selectedMissingCol && selectedMissingKey && selectedMissingVal"
    class="modal-card"
  >
    <section class="modal-card-body">
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <mtbls-ontology
              [id]="'editMissingOntology'"
              [validations]="columnValidations(selectedMissingKey)"
              [controlList]="columnControlList(selectedMissingKey)"
              (changed)="onChanges($event)"
              [values]="[selectedMissingVal]"
              [initialSearchKeyword]="selectedMissingVal"
              [inline]="true"
            ></mtbls-ontology>
          </div>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot buttons is-right">
      <button
        (click)="saveColumnSelectedMissingRowsValues()"
        class="button is-info"
        [disabled]="selectedMissingOntology?.termSource?.name?.length === 0 || isFormBusy"
      >
        <mat-spinner
          [diameter]="20"
          [strokeWidth]="3"
          *ngIf="isFormBusy"
        ></mat-spinner>
        Save
      </button>
      <button class="button" (click)="closeEditMissingColValModal()">
        Cancel
      </button>
    </footer>
  </div>
</div>
