.material-modal-card {
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2),
                0 8px 10px 1px rgba(0,0,0,0.14),
                0 3px 14px 2px rgba(0,0,0,0.12);
  }

  .scrollable-table-container {
    max-height: 900px;
    /* min-width: 600px; */
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
  }

  .close-btn {
    align-self: flex-end;
    margin-top: 16px;
  }

  .material-dialog-description {
    margin: 8px 0 16px;
    font-size: 0.95rem;
    color: rgba(0,0,0,0.7);
    line-height: 1.4;
    padding-left: 3%;
    padding-right: 3%;
  }

  .flex-row {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
  }


  .blocks-container {
    max-height: 50vh;
    overflow-y: auto;
    padding-right: 8px;
  }

  .log-entry {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    border-radius: 4px;
    position: relative;
    transition: background-color 0.2s;
    cursor: pointer;
  }
  .log-entry:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .build-icon {
    margin-right: 8px;
    flex-shrink: 0;
  }

  .log-text {
    white-space: normal;
    word-break: break-word;
    flex: 1 1 auto;
  }

  .copy-icon {
    margin-left: 8px;
    visibility: hidden;
    cursor: pointer;
    flex-shrink: 0;
  }

  .log-entry:hover .copy-icon {
    visibility: visible;
  }
  
  :host ::ng-deep .mat-mdc-table .mat-mdc-header-cell,
  :host ::ng-deep .mat-mdc-table .mat-mdc-cell,
  :host ::ng-deep .mat-mdc-table .mat-mdc-footer-cell {
    align-self: stretch;
    display: block;
    padding: 15px;
  }

/* Modal Footer */
.modal-footer {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: white;

}
.modal-footer .button:not(:last-child) {
    margin-right: .5em;
}
.keep-right{
  justify-content: flex-end;
}