<div class="modal is-active" >
    <div class="modal-background" (click)="close()"></div>

    <div class="modal-content">
      <mat-card class="material-modal-card">
        <mat-card-header>
          <mat-card-title>Metadata File Updates</mat-card-title>
        </mat-card-header>
        <p  class="material-dialog-description">We will sometimes make automated changes to your study metadata files to ensure they meet our guidelines for submission, and to solve issues relating to encoding, the presence of illegal characters and other quality of data fixes.</p>

        <mat-card-content class="blocks-container">
            <div
              *ngFor="let s of metadataModifiers"
              class="log-entry"
              (click)="copyText(s)"

            >
              <mat-icon class="build-icon">build</mat-icon>
              <span class="log-text">{{ s }}</span>
              <mat-icon class="copy-icon">content_copy</mat-icon>
            </div>

            <button (click)="close()" class="button is-info">Close</button>
          </mat-card-content>
      </mat-card>
    </div>


  </div>
