<div class="px-20" [ngClass]="{ 'hover-highlight': !isReadOnly }">
  <div class="mtbls-section">
    <h6 class="mb10">
      <a><b><small class="has-text-grey">PUBLICATIONS</small></b></a>
      <mtbls-publication *ngIf="!isReadOnly" [value]="null"></mtbls-publication>
    </h6>
    <div *ngIf="publications && publications.length > 0; else noPublicationsFound">
      <div class="publications-accordion mt1">
        <div class="accordion-item" *ngFor="let publication of publications; let i = index"
          [ngClass]="{ 'is-expanded': expandedIndex === i }">
          <div class="accordion-header clickable" (click)="toggleExpand(i)">
            <span class="publication-index">{{ i + 1 }}</span>
            <h4 class="publication-title-compact">
              {{ publication.title | slice: 0: 200 }}{{ publication.title.length > 200 ? '...' : '' }}
            </h4>
            <mat-icon>{{ expandedIndex === i ? 'expand_less' : 'expand_more' }}</mat-icon>
          </div>
          <div class="accordion-content" *ngIf="expandedIndex === i">
            <mtbls-publication [value]="publication"></mtbls-publication>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noPublicationsFound>
      <p class="placeholder-text">
        <small>Please provide details of any scientific article(s), preprint(s), or report(s) associated with the study.
          This includes manuscripts that are in preparation, submitted, available as preprints, or already published.
        </small>
      </p>
      <div>&nbsp;</div>
    </ng-template>
  </div>
</div>