<div class="px-20" [ngClass]="{ 'hover-highlight': !isReadOnly }">
  <div class="mtbls-section">
    <h6 class="mb10">
      <a
        ><b><small class="has-text-grey">PUBLICATIONS</small></b></a
      >
      <mtbls-publication *ngIf="!isReadOnly" [value]="null"></mtbls-publication>
    </h6>
    <div
      *ngIf="publications && publications.length > 0; else noPublicationsFound"
    >
      <div class="publications-wrapper tile is-ancestor mt1">
        <div
          class="is-parent column is-4"
          *ngFor="let publication of publications; let i = index"
        >
          <mtbls-publication [value]="publication"></mtbls-publication>
        </div>
      </div>
    </div>
    <ng-template #noPublicationsFound>
      <p class="placeholder-text">
        <small
          >Please provide details of any scientific article(s), preprint(s), or report(s) associated with the study. This includes manuscripts that are in preparation, submitted, available as preprints, or already published.
        </small>
      </p>
      <div>&nbsp;</div>
    </ng-template>
  </div>
</div>
