.mb10 {
  margin-bottom: 15px;
}

.mt5 {
  margin-top: 10px;
}

.publications-wrapper {
  overflow-x: auto;
}

.section-border {
  border: 1px dashed #f1f1f4;
  padding-top: 50px;
  padding-bottom: 50px;
}
.placeholder-text {
  color: #b5b5b5;
  font-size: .875em;
  font-style: italic;
}