<div class="card mb-6" style="position: relative;">
  <mtbls-factor *ngIf="!isReadOnly" [value]="null"
    style="position: absolute; top: 12px; right: 12px;"></mtbls-factor>
  <header class="card-heading">
    <p>Factors
      <span *ngIf="!isReadOnly"><mat-icon
          [matTooltip]="'Factors are key parameters within a study that differentiate samples into groups'">help</mat-icon></span>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <div *ngIf="factors && factors.length > 0; else emptyMessage">
        <div id="meta">
          <div *ngFor="let factor of factors">
            <mtbls-factor [value]="factor"></mtbls-factor>
          </div>
        </div>
      </div>
      <ng-template #emptyMessage>
        <p class="placeholder-text">
          <small>Factors represent the conditions, treatments, or groupings that differentiate one set of samples from
            another, defining the basis for comparisons within the study (e.g., Treatment, Genotype, Timepoint,
            etc.).</small>
        </p>
      </ng-template>
    </div>
  </div>
</div>