<div class="card">
  <header class="card-heading" [ngClass]="{'hover-highlight': !isReadOnly}">
    <span>
      <p class="is-pulled-left">
        Factors
      </p>
      <span *ngIf="!isReadOnly">
        <mtbls-factor [value]="null"></mtbls-factor>
      </span>
    </span>
  </header>
  <div class="card-content">
    <div class="content">
      <div *ngIf="factors && factors.length > 0;else emptyMessage">
        <div id="meta">
          <div *ngFor="let factor of factors">
            <mtbls-factor [value]="factor"></mtbls-factor>
          </div>
        </div>
      </div>
      <ng-template #emptyMessage>
        <p class="has-text-grey-light has-text-centered"><small>No Study factors defined yet.</small></p>
      </ng-template>
    </div>
  </div>
</div>