.card-footer {
  padding: 10px 10px;
}

:host ::ng-deep .ql-container {
  min-height: 250px;
}

label {
  font-size: 0.73em;
  color: #666;
}

.dd-element {
  display: inline-block;
  padding-right: 1em;
  width: 1.4em;
}

.bt {
  border-top: 1px solid #f1f1f4;
}

.p1 {
  padding: 10px 20px;
}

.mat-mdc-input-element {
  width: calc(100% - 30px);
}

.guide-text {
  color: #666666;

}

.bold-text {
  font-weight: bold;
}
