.flask {
    color: #4caf50;
    transform: translateY(4px);
}

.no-violations-card {
    margin-left: 25%;
    width: 50%;
}

.no-violations-content {
    padding-top: 10%;
    padding-left: 40%;
}

.no-round {
    border-radius: 0 !important;
  }