<span *ngIf="mafs && mafs.length > 0; else noLinkedMAFFiles">
  <div *ngIf="!isReadOnly" class="notification is-warning">
    <small><mat-icon>info</mat-icon> It is not always possible to render large MAF sheets in the browser, so you may not see a complete MAF sheet in the table. Please download m_xxx_v2_maf.tsv file to see the entire data.</small>
  </div>
  <br />
  <div class="card">
    <div class="columns" style="margin-bottom: 0; padding-bottom: 0">
      <div
        class="column is-full tabs npt"
        style="margin-bottom: 0; padding-bottom: 0"
      >
        <ul>
          <span *ngFor="let maf of mafs; let i = index">
            <li
              (click)="selectCurrentSubTab(i)"
              [ngClass]="{ 'is-active': currentSubIndex == i }"
            >
              <a>{{maf.data.file | amPipe}}</a>
            </li>
          </span>
        </ul>
      </div>
    </div>
    <span *ngFor="let maf of mafs; let i = index">
      <span *ngIf="currentSubIndex == i">
        <mtbls-maf [value]="maf"></mtbls-maf>
      </span>
    </span>
  </div>
  <span>
    <div>&nbsp;</div>
  </span>
</span>
<ng-template #noLinkedMAFFiles>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <p class="has-text-centered">
    To add metabolite identification information please first ensure you have
    added details to the assay table.
  </p>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
</ng-template>
