

prototype-table .mat-cell, prototype-table .mat-header-cell {
    padding: 16px;
}


.ml-logo {
    height: 55px;
    width: 55px;
    position: absolute; 
    right: 0; 
    top: 0;
    transform: translateY(5px);
}



section {
    display: flex;
    justify-content: center; 
  }
  
  .toggle-group-container {
    max-width: 700px; 
    width: 100%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .toggle-group-container mat-button-toggle-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .toggle-group-container mat-button-toggle {
    flex: 1 1 auto; 
    margin: 2px;
  }