.modal-background {
  background-color: #ffffff !important;
  opacity: 1 !important;
  transition: opacity 0.3s ease-in-out;
}

.modal {
  z-index: 99999 !important;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  display: flex !important; /* Ensure it stays flex but hidden */
}

.modal.is-active {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  overflow: visible !important;
}

.vc {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100vh !important;
  width: 100vw !important;
}

.no-shadow {
  box-shadow: none !important;
  border: none !important;
}
