.ont-description {
  max-width: 100%;
  overflow: visible;
  line-height: initial;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.tags .tag {
  margin-bottom: 1.5rem;
  text-transform: none;
}
