<mtbls-header></mtbls-header>
<div class="container">
  <div *ngIf="loading">
    <div style="margin: 100px 0">
      <div class="vc vh30">
        <span class="has-text-centered">
          <img src="{{ baseHref }}assets/img/loading.svg" /><br />
          <small class="has-text-grey">LOADING</small>
        </span>
      </div>
    </div>
  </div>
  <div id="status-board" *ngIf="studyError" style="margin-top: 0px">
    <article class="message is-danger">
      <div class="message-body">
        <p>
          <mat-icon class="mat-icon material-icons">info</mat-icon> Requested
          study ({{ requestedStudy }}) failed to load. It is either
          read-protected or not readable by the server.
        </p>
        <p>
          If you own the study please login to access the requested resource.
        </p>
        <br />
        <p>
          <a
            class="button is-small custom-button"
            [href]="baseHref + 'study/' + requestedStudy"
            ><mat-icon
              class="mat-icon notranslate material-icons mat-icon-no-color"
              role="img"
              aria-hidden="true"
              >person</mat-icon
            >
            Login
          </a>
        </p>
      </div>
    </article>
  </div>
  <div id="status-board" *ngIf="status == 'Private'">
    <!--<article class="message is-success">
      <div class="message-body">
        <p>
          <mat-icon class="mat-icon material-icons">info</mat-icon> This study
          ({{ requestedStudy }}) is now Private. Please review and share your comments with the submitters.
        </p>
      </div>
    </article>-->
    <article class="message is-success">
      <div class="message-body">
        This study ({{requestedStudy}}) is now in the 'Private' stage.
        <p>
          The link
          <a [href]="endpoint + requestedStudy">{{ endpoint + requestedStudy }}</a>
          will be the official link for referencing your MetaboLights study in any
          paper, website or other communication.
        </p>
      <br/>

      </div>
    </article>
  </div>

  <div id="status-board" *ngIf="status == 'In Review'">
    <article class="message is-success">
      <div class="message-body">
        <p>
          <mat-icon class="mat-icon material-icons">info</mat-icon> This study
          ({{ requestedStudy }}) is in the ‘In Review’ stage.

        </p>

      <br/>
          <p>
            If you have comments or suggestions, please get in touch with the submitter(s) or MetaboLights team (metabolights-help&#64;ebi.ac.uk).
          </p>
      </div>
    </article>
  </div>

  <div id="status-board" *ngIf="status == 'Public' && curationRequest  == 'NO_CURATION'">
    <article class="message is-warning">
      <div class="message-body">
        <p>
          <mat-icon class="mat-icon material-icons">info</mat-icon>
          This study ({{ requestedStudy }}) is publicly accessible upon request from the submitter(s). It <b><u>is not curated</u></b> in full by the MetaboLights curation team but does pass the new MetaboLights Validation and minimum submission requirements.
          <br/>
          <br/>
          If you have comments or suggestions, please get in touch with the submitter(s) or MetaboLights team (<b>
            <a
              [href]="
                'mailto:metabolights-help@ebi.ac.uk?subject=Regarding non-curated public study - ' +
                requestedStudy
              "
              >metabolights-help&#64;ebi.ac.uk</a
            ></b>).

        </p>
      </div>
    </article>
  </div>
  <div
    *ngIf="requestedStudy != undefined && !studyError"
    class="main-wrapper"
    style="margin-top: 0; margin-bottom: 0"
  >
    <span *ngIf="requestedStudy != undefined">
      <div
        *ngIf="!studyError"
        id="meta"
        class="field is-grouped is-grouped-multiline px-20 mb-10"
      >
        <mtbls-status></mtbls-status>&emsp;

        <span *ngIf="status == 'Public' ">
            <div class="tags has-addons">
              <span class="tag is-dark">Curation</span>
              <span class="tag is-link"> {{ curationStatus }} </span>
            </div>
        </span>&emsp;

        <mtbls-release-date></mtbls-release-date>&emsp;
        <div *ngIf="isOwner || isCurator">
          <span class="clickable" *ngIf="validationStatus == 'ERROR'">
            <div (click)="selectCurrentTab(7, 'validationsv2')" class="control">
              <div class="tags has-addons">
                <span class="tag is-dark">Validation</span>
                <span class="tag is-danger"> Failed ( {{ validation !== undefined && validation.last_update_timestamp > 0 ? (validation.last_update_timestamp * 1000 | date: 'MMM d, y, H:mm:ss z') : "-" }} )</span>
              </div>
            </div>
          </span>

          <span class="clickable" *ngIf="validationStatus == null && notReadyValidationMessage != null">
            <div (click)="selectCurrentTab(7, 'validationsv2')" class="control">
              <div class="tags has-addons">
                <span class="tag is-dark">Validation</span>
                <span class="tag is-warning"> {{ notReadyValidationMessage }} </span>
              </div>
            </div>
          </span>
        </div>
        <div
          *ngIf="isOwner || isCurator"
          style="margin-left: auto"
          class="is-pulled-right"
        >
          <div class="tags has-addons">
            <span class="tag is-dark">
              <i class="material-icons"> edit </i>
            </span>
            <a
              [href]="baseHref + 'study/' + requestedStudy"
              class="tag is-link clickable"
              >Edit</a
            >
            <span *ngIf="isCurator"> &nbsp; </span>
            <span class="tag is-dark">
              <i class="material-icons"> cloud_upload </i>
            </span>
            <a
              [href]="endpoint + 'updatestudyform?study=' + requestedStudy"
              class="tag is-link clickable"
              >ISA</a
            >
          </div>
        </div>
      </div>
      <span *ngIf="!studyError">
        <mtbls-title></mtbls-title>
        <mtbls-people></mtbls-people>
        <mtbls-description></mtbls-description>
        <mtbls-organisms></mtbls-organisms>
        <mtbls-publications></mtbls-publications>
      </span>
      <div id="tab-content-wrapper" class="px-20 mt-20">
        <div class="card">
          <div class="columns">
            <div class="column is-full tabs npt">
              <ul>
                <li
                  *ngIf="!studyError"
                  (click)="selectCurrentTab(0, 'descriptors')"
                  [ngClass]="{ 'is-active': (currentTabIndex$ | async) === 0 }"
                >
                  <a>Descriptors</a>
                </li>
                <li
                  *ngIf="!studyError"
                  (click)="selectCurrentTab(1, 'protocols')"
                  [ngClass]="{ 'is-active': (currentTabIndex$ | async) === 1 }"
                >
                  <a>Protocols</a>
                </li>
                <li
                  *ngIf="!studyError"
                  (click)="selectCurrentTab(2, 'samples')"
                  [ngClass]="{ 'is-active': (currentTabIndex$ | async) === 2 }"
                >
                  <a>Samples</a>
                </li>
                <li
                  *ngIf="!studyError"
                  (click)="selectCurrentTab(3, 'assays')"
                  [ngClass]="{ 'is-active': (currentTabIndex$ | async) === 3 }"
                >
                  <a>Assays</a>
                </li>
                <li
                  *ngIf="!studyError"
                  (click)="selectCurrentTab(4, 'metabolites')"
                  [ngClass]="{ 'is-active': (currentTabIndex$ | async) === 4 }"
                >
                  <a>Metabolites</a>
                </li>
                <li
                  (click)="selectCurrentTab(5, 'files')"
                  [ngClass]="{ 'is-active': (currentTabIndex$ | async) === 5 }"
                >
                  <a>Files</a>
                </li>
                <!-- <li
                  *ngIf="isCurator"
                  (click)="selectCurrentTab(6, 'validations')"
                  [ngClass]="{ 'is-active': (currentTabIndex$ | async) === 6 }"
                >
                  <a>Study Validations v1</a>
                </li> -->

                <!-- <li *ngIf="!studyError" (click)="selectCurrentTab(6, 'pathways')" [ngClass]="{'is-active': (currentTabIndex$ | async) === 6 }"><a>Pathways</a></li> -->
              </ul>
            </div>
          </div>
          <div class="card-content npt">
            <div class="columns">
              <div class="column is-full">
                <span *ngIf="!studyError">
                  <div
                    class="tab-content fadeIn animated"
                    *ngIf="(currentTabIndex$ | async) === 0"
                  >
                    <mtbls-design-descriptors></mtbls-design-descriptors>
                    <br />
                    <mtbls-factors></mtbls-factors>
                  </div>
                  <div
                    class="tab-content fadeIn animated"
                    *ngIf="(currentTabIndex$ | async) === 1"
                  >
                    <mtbls-protocols></mtbls-protocols>
                  </div>
                </span>
                <div
                  class="tab-content fadeIn animated"
                  *ngIf="(currentTabIndex$ | async) === 2"
                >
                  <mtbls-samples></mtbls-samples>
                </div>
                <div
                  class="tab-content fadeIn animated"
                  *ngIf="(currentTabIndex$ | async) === 3"
                >
                  <mtbls-assays></mtbls-assays>
                </div>
                <div
                  class="tab-content fadeIn animated"
                  *ngIf="(currentTabIndex$ | async) === 4"
                >
                  <mtbls-mafs></mtbls-mafs>
                </div>
                <span *ngIf="files != null">
                  <div
                    class="tab-content fadeIn animated"
                    *ngIf="(currentTabIndex$ | async) === 5"
                  >
                    <mtbls-files class="files-tab"></mtbls-files>
                  </div>
                </span>
                <div
                  class="tab-content fadeIn animated"
                  *ngIf="(currentTabIndex$ | async) === 7 && (isOwner || isCurator)"
                >
                  <study-validations></study-validations>
                </div>
                <div
                  class="tab-content fadeIn animated"
                  *ngIf="(currentTabIndex$ | async) === 7"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>
<mtbls-footer></mtbls-footer>
