.files-tab {
  padding: 0px;
}

.study-meta-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-left: 1rem;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px gainsboro;
}

.study-meta-left {
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.study-meta-right {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Responsive layout for small screens: stack columns */
@media (max-width: 767px) {
  .study-meta-wrapper {
    flex-direction: column;
  }

  .study-meta-left,
  .study-meta-right {
    width: 100%;
    justify-content: flex-start;
  }
}

.gold {
  color: gold;
}

.tabs li.is-active a {
  background-color: aliceblue;
  border-bottom-color: #3273dc;
  color: #3273dc;
}

.tabs ul {
  flex-wrap: wrap;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #dbdbdb;
}

.tabs li {
  margin-bottom: -1px;
}

.tab-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
  vertical-align: bottom;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .tabs a {
    padding: 0.5em 0.75em;
    font-size: 0.9rem;
  }

  .tab-icon {
    margin-right: 3px;
    font-size: 16px;
    height: 16px;
    width: 16px;
  }
}