<div class="steps is-small">
  <div class="step-item" [ngClass]="{ 'is-active': step == 1, 'is-completed': step > 1 }">
    <div class="step-marker">
      <span class="icon">
        <i class="fa fa-check"></i>
      </span>
    </div>
    <div class="step-details">
      <p *ngIf="!study" class="step-title">New Submission → Start</p>
      <p *ngIf="study" class="step-title">
        <a [ngClass]="{ 'has-text-grey': step < 2 || (step > 1 && !allowBackward) }"
          (click)="redirectTo('info', null, 1)">
          Submission Details </a>
      </p>
    </div>
  </div>
  <div class="step-item" [ngClass]="{ 'is-active': step == 2, 'is-completed': step > 2 }">
    <div class="step-marker"></div>
    <div class="step-details">
      <p class="step-title">
        <a [ngClass]="{ 'has-text-grey': step < 2 || (step > 2 && !allowBackward) }"
          (click)="redirectTo('meta', null, 2)">Study description</a>
      </p>
    </div>
  </div>
  <div *ngIf="!hidePublicationStep" class="step-item" [ngClass]="{ 'is-active': step == 3, 'is-completed': step > 3 }">
    <div class="step-marker"></div>
    <div class="step-details">
      <p class="step-title">
        <a [ngClass]="{ 'has-text-grey': step < 3 || (step > 3 && !allowBackward) }"
          (click)="redirectTo('publication', null, 3)">Publication &
          Funding</a>
      </p>
    </div>
  </div>
  <div *ngIf="!hideAssayStep" class="step-item" [ngClass]="{ 'is-active': step == 4, 'is-completed': step > 4 }">
    <div class="step-marker"></div>
    <div class="step-details">
      <p class="step-title">
        <a [ngClass]="{ 'has-text-grey': step < 4 || (step > 4 && !allowBackward) }"
          (click)="redirectTo('assays', null, 4)">
          <span *ngIf="!study">Assay details</span>
          <span *ngIf="study">Sample & assay details</span>
        </a>
      </p>
    </div>
  </div>
  <div *ngIf="!hideUploadStep" class="step-item" [ngClass]="{ 'is-active': step == 5, 'is-completed': step > 5 }">
    <div class="step-marker"></div>
    <div class="step-details">
      <p class="step-title">
        <a [ngClass]="{ 'has-text-grey': step < 5 || (step > 5 && !allowBackward) }"
          (click)="redirectTo('upload', null, 5)">Upload files</a>
      </p>
    </div>
  </div>
  <div class="step-item"
    [ngClass]="{ 'is-active': step == 4 && hideAssayStep && hideUploadStep, 'is-completed': step > 4 && hideAssayStep && hideUploadStep }">
    <div class="step-marker"></div>
    <div class="step-details">
      <p class="step-title">Done</p>
    </div>
  </div>
</div>