<span>
  <a (click)="openAddAssayModal()" class="button button-primary is-pulled-right">Add Assay</a>
</span>

<div class="modal" [ngClass]="{ 'is-active': isAddAssayModalOpen }">
  <div class="modal-background"></div>
  <div class="modal-card vw80">
    <section class="modal-card-body">
      <form [formGroup]="assayForm">
        <h1 class="title is-4 has-text-weight-semibold mb20">Add Assay</h1>

        <!-- Top Grid -->
        <div class="columns is-variable is-6">
          <!-- Left Column -->
          <div class="column is-6">
            <div class="field">
              <label class="label">Study Category</label>
              <div class="control">
                <input class="input" type="text" value="MS-MHD Enabled" disabled>
              </div>
            </div>

            <div class="field">
              <label class="label">Assay Type</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select formControlName="assayType">
                    <option value="LC-MS">LC-MS</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Measurement Type</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select formControlName="measurementType">
                    <option value="Untargeted Metabolite Profiling">Untargeted Metabolite Profiling</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">Related Omics</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select formControlName="omics">
                    <option value="Lipidomics">Lipidomics</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <!-- Right Column (Keywords) -->
          <div class="column is-6 keywords-panel">
            <div class="keywords-header">
              <h3 class="title is-6 mb0">Additional Keywords</h3>
              <button type="button" class="button is-small is-success is-rounded" (click)="addKeyword()"
                title="Add keyword">
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <div class="keywords-scroll">
              <div class="keyword-item" *ngFor="let keyword of keywords; let i = index">
                <span class="keyword-text">{{ keyword }}</span>
                <span class="keyword-actions">
                  <button type="button" class="icon-btn" (click)="editKeyword(i)" title="Edit">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button type="button" class="icon-btn" (click)="removeKeyword(i)" title="Remove">
                    <mat-icon>close</mat-icon>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <!-- Chromatography Protocol -->
        <div class="chromatography-protocol">
          <h4 class="main-heading">
            <mat-icon class="heading-icon">play_arrow</mat-icon>
            Chromatography Protocol
          </h4>
          <div class="columns is-variable is-6 mt10">
            <div class="column is-6">
              <div class="field">
                <label class="label">Chromatography Instrument</label>
                <div class="control">
                  <input class="input" type="text" formControlName="chromInstrument">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Column Type</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select formControlName="columnType">
                      <option value="reverse phase">reverse phase</option>
                      <option value="HILIC">HILIC</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Mass Spectrometry Protocol -->
        <div class="mass-spec-protocol">
          <h4 class="main-heading">
            <mat-icon class="heading-icon">play_arrow</mat-icon>
            Mass Spectrometry Protocol
          </h4>
          <div class="columns is-variable is-6 mt10">
            <div class="column is-6">
              <div class="field">
                <label class="label">Mass Spectrometry Instrument</label>
                <div class="control">
                  <input class="input" type="text" formControlName="msInstrument">
                </div>
              </div>
              <div class="field">
                <label class="label">Scan Polarity</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select formControlName="polarity">
                      <option value="positive">positive</option>
                      <option value="negative">negative</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label">Ion Source</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select formControlName="ionSource">
                      <option value="electrospray ionization">electrospray ionization</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <label class="label">Mass Analyzer</label>
                <div class="control">
                  <div class="select is-fullwidth">
                    <select formControlName="analyzer">
                      <option value="quadrupole time-of-flight">quadrupole time-of-flight</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <!-- Identifiers and File Names -->
        <div class="columns is-variable is-4 identifiers-row">
          <div class="column assay-id-field">
            <label class="label">Assay Identifier</label>
            <div class="control">
              <input class="input" type="text" formControlName="assayId">
            </div>
          </div>
          <div class="column">
            <label class="label">Assay File Name</label>
            <div class="control">
              <input class="input" type="text" [value]="assayFileName" disabled>
            </div>
          </div>
          <div class="column">
            <label class="label">Result File Name</label>
            <div class="control">
              <input class="input" type="text" [value]="resultFileName" disabled>
            </div>
          </div>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot buttons is-right">
      <button class="button is-primary" (click)="saveAssay()" [disabled]="assayForm.invalid">Create Study</button>
      <button class="button" (click)="closeAddAssayModal()">Cancel</button>
    </footer>
  </div>
</div>