<div class="box">
    <div class="columns is-vcentered">
        <div class="column is-4 has-text-weight-medium">Globus Username</div>
        <div class="column is-8">
            <span *ngIf="user?.globus_username; else noGlobusUser" class="is-size-5 has-text-grey-dark">
                {{ user?.globus_username }}
            </span>
            <ng-template #noGlobusUser>
                <div class="has-text-danger is-flex is-align-items-center">
                    <mat-icon class="mr-2">warning</mat-icon> No globus username provided.
                    <mat-icon class="ml-2 has-text-grey"
                        style="font-size: 18px; width: 18px; height: 18px; cursor: help;"
                        matTooltip="Your Globus username should be updated in the profile page.">help_outline</mat-icon>
                </div>
            </ng-template>
        </div>
    </div>

    <!-- Toggle Permissions section -->
    <div class="columns is-vcentered mt-3">
        <div class="column is-4 has-text-weight-medium">Globus Permission</div>
        <div class="column is-8 is-flex is-align-items-center">

            <div *ngIf="permissionStatus === 'loading'" class="is-flex is-align-items-center">
                <mat-spinner diameter="20" class="mr-2"></mat-spinner>
                <span class="has-text-grey">Loading...</span>
            </div>

            <ng-container *ngIf="permissionStatus !== 'loading'">
                <!-- Dual Button Toggle Group (Segmented Control) -->
                <div class="field has-addons dual-toggle-group">
                    <p class="control" [matTooltip]="!user?.globus_username ? 'Provide Globus username to enable Globus permission' : ''" [matTooltipPosition]="'above'">
                        <button class="button is-rounded is-flex is-align-items-center px-5" 
                            [ngClass]="permissionStatus === 'enabled' ? 'is-success' : 'active-none'"
                            (click)="togglePermission('enabled')"
                            [disabled]="permissionStatus === 'loading' || !user?.globus_username">
                            <mat-icon class="mr-2" style="font-size: 20px; width: 20px; height: 20px;">check_circle</mat-icon>
                            <span class="has-text-weight-bold transition-text">Enabled</span>
                        </button>
                    </p>
                    <p class="control">
                        <button class="button is-rounded is-flex is-align-items-center px-5" 
                            [ngClass]="permissionStatus === 'disabled' ? 'is-danger' : 'active-none'"
                            (click)="togglePermission('disabled')"
                            [disabled]="permissionStatus === 'loading'">
                            <mat-icon class="mr-2" style="font-size: 20px; width: 20px; height: 20px;">cancel</mat-icon>
                            <span class="has-text-weight-bold transition-text">Disabled</span>
                        </button>
                    </p>
                </div>
            </ng-container>

        </div>
    </div>

    <!-- Additional Details (Only visible when activated) -->
    <ng-container *ngIf="permissionStatus === 'enabled' && globusPermissions">
        <hr class="my-4">

        <div class="columns is-vcentered mt-3">
            <div class="column is-4 has-text-weight-medium">Globus Study Folder URL</div>
            <div class="column is-8 is-flex is-align-items-center">
                <span class="is-size-7" style="word-break: break-all;">
                    <a [href]="globusPermissions?.permissions?.[0]?.file_manager_url" target="_blank">
                        {{ globusPermissions?.permissions?.[0]?.file_manager_url }}
                    </a>&nbsp;
                    <mat-icon class="clickable-icon has-text-grey" 
                        style="font-size: 16px; width: 16px; height: 16px; vertical-align: middle;"
                        (click)="copyToClipboard(globusPermissions?.permissions?.[0]?.file_manager_url)"
                        matTooltip="Copy URL">content_copy</mat-icon>
                </span>
            </div>
        </div>

        <div class="columns is-vcentered mt-3">
            <div class="column is-4 has-text-weight-medium">Globus Collection Folder</div>
            <div class="column is-8 is-flex is-align-items-center">
                <span class="is-size-7" style="word-break: break-all;">
                    {{ globusPermissions?.permissions?.[0]?.path }}&nbsp;
                    <mat-icon class="clickable-icon has-text-grey"
                        style="font-size: 16px; width: 16px; height: 16px; vertical-align: middle;"
                        (click)="copyToClipboard(globusPermissions?.permissions?.[0]?.path)"
                        matTooltip="Copy Path">content_copy</mat-icon>
                </span>
            </div>
        </div>
    </ng-container>
</div>