<a
  class="panel-block"
  [ngClass]="file.status == 'active' ? 'is-active-file' : ''"
>
  <div class="columns w100">
    <div
      (dblclick)="expandDirectory(file)"
      [style.margin-left]="level * 30 + 'px'"
      class="column is-four-fifths"
    >
      <!-- <input (change)="selectFiles($event, 'raw', file, false)" [checked]="isChecked(file.file, 'raw')" type="checkbox" name=""> -->
      <span class="panel-icon">
        <span *ngIf="isFolder(file); else fileIcon">
          <span *ngIf="!file.files; else openFolder">
            <img
              class="file-img"
              src="{{ baseHref }}assets/img/folder.png"
            />
          </span>
          <ng-template #openFolder>
            <img
              class="file-img"
              src="{{ baseHref }}assets/img/folder-open.png"
            />
          </ng-template>
        </span>
        <ng-template #fileIcon>
          <img
            class="file-img"
            src="{{ baseHref }}assets/img/file.png"
          />
        </ng-template>
      </span>

      {{ file.file }}
      <span *ngIf="showReferencedFiles" >
        <span *ngIf="file.status == 'unreferenced' && !file.directory">
          <img src="assets/img/icons/unreferenced.png" style="height: 18px"/>
        </span>
        <span *ngIf="file.status == 'active'">
          <img src="assets/img/icons/referenced.png" style="height: 18px"/>
        </span>
      </span>

      <span *ngIf="showReferencedFiles">
        <span *ngIf="file.file_difference == 'NEW' && revisionStatus == 'Completed'" >
          <img src="assets/img/icons/new.png" style="height: 18px"/>
        </span>
        <span *ngIf="file.file_difference == 'MODIFIED' && !file.directory  && revisionStatus == 'Completed'">
          <img src="assets/img/icons/updated.png" style="height: 18px"/>
        </span>
      </span>
      <span class="has-text-grey-lighter"
        ><small>{{
          file.createdAt?.replace("'", "").replace("'", "")
        }}</small></span
      >

    </div>
    <div class="column is-one-fifths has-text-right">
      <span class="has-text-grey-light">
        <span *ngIf="downloadEnabled">
          <mtbls-download
            [type]="'icon'"
            [value]="parent + file.file"
          ></mtbls-download
          >&emsp;
        </span>
        <mtbls-file-delete
          *ngIf="!isReadOnly && deletionEnabled && !readonlyFolder && file.file_difference != 'DELETED' && file.file_difference != 'MODIFIED' &&  !isManagedFolder(parent + file.file) "
          (fileDeleted)="handleDeletedFile($event)"
          [type]="'icon'"
          [value]="parent + file.file"
          [fileLocation]="location"
          [parentDirectoryComponent]="parentDirectoryComponent"
          [file]="file"
        ></mtbls-file-delete>
      </span>
    </div>
  </div>
</a>
<span *ngFor="let sfile of file.files">
  <mtbls-directory
    [category]="category"
    [level]="level + 1"
    [parent]="parent + file.file + '/'"
    [file]="sfile"
    [parentDirectoryComponent]="this"
    [deletionEnabled]="childDirectoryDeletionEnabled(file)"
    [downloadContents]="downloadContents"
    [downloadEnabled]="!sfile.directory && downloadContents"
    [readonlyFolder]="readonlyFolder"
    [managedFolders]="managedFolders"
    [location]="location"
    [showReferencedFiles]="showReferencedFiles"
  ></mtbls-directory>
</span>
