<div
  id="elixir-banner"
  data-color="grey"
  data-name="This service"
  data-description="MetaboLights is an ELIXIR Recommended Deposition Database"
  data-more-information-link="https://www.elixir-europe.org/about-us/who-we-are/nodes/embl-ebi"
  data-use-basic-styles="true"
>
  <div id="elixir-ribbon" class="elixir-ribbon">
    <div class="row">
      <div class="column">
        <a
          href="https://www.elixir-europe.org/about-us/who-we-are/nodes/embl-ebi"
        >
          <div
            style="margin-top: 20px !important"
            class="elixir-logo-kite"
          ></div>
          <h5>
            <span class="elixir-banner-name">This service</span> is part of the
            ELIXIR infrastructure
          </h5>
          <div id="elixir-banner-info">
            <small>
              <span class="elixir-banner-description"
                >MetaboLights is an ELIXIR Recommended Deposition Database</span
              >&nbsp;
              <span class="readmore">Learn more ›</span>
            </small>
          </div>
        </a>
      </div>
    </div>
  </div>

  <style>
    .elixir-ribbon {
      padding: 1rem 0;
      background-color: rgb(77, 77, 72);
    }

    .elixir-ribbon {
      font-family: Helvetica, Arial, FreeSans, "Liberation Sans", sans-serif;
      clear: both;
    }

    .elixir-ribbon a,
    .elixir-ribbon a:active,
    .elixir-ribbon a:visited,
    .elixir-ribbon a:hover {
      border-bottom: none;
    }

    .elixir-ribbon .row {
      max-width: 1200px;
      margin: 0 auto 1rem;
    }

    .elixir-ribbon .row::before,
    .elixir-ribbon .row::after {
      display: table;
      content: " ";
    }

    .elixir-ribbon h5 {
      font-size: 1.3rem;
      padding: 0;
      display: inline-block;
    }

    .elixir-ribbon,
    .elixir-ribbon h5,
    .elixir-ribbon a,
    .elixir-ribbon a:active,
    .elixir-ribbon a:visited,
    .elixir-ribbon a:hover {
      color: #fff;
      text-decoration: none;
    }
    .elixir-ribbon a:hover {
      opacity: 0.8;
    }
    .elixir-ribbon .readmore {
      border-bottom: 1px dotted #fff;
    }
    .elixir-ribbon h5 {
      margin: 0;
    }
    .elixir-ribbon .elixir-logo-kite {
      background: 80% 58%
        url("https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/images/logos/assorted/elixir_kitemark-60px.png")
        no-repeat;
      position: relative;
      top: -5px;
      margin: 0 1rem -0.5rem 0;
      height: 60px;
      width: 60px;
      display: inline-block;
      float: left;
      background-size: 60px;
    }
  </style>
</div>
<div
  id="data-protection-message-configuration"
  data-message='This website requires cookies, and the limited processing of your personal data in order to function. By using the site you are agreeing to this as outlined in our <a target="_blank" href="https://www.ebi.ac.uk/data-protection/privacy-notice/metaboflow" class="white-color">Privacy Notice</a>.'
  data-service-id="MetaboFlow"
  data-data-protection-version="0.1"
></div>
<footer class="clearfix">
  <div class="global-footer col-md-12">
    <div class="container">
      <nav id="global-nav-expanded " class="global-nav-expanded row">
        <div class="col-md-2 col-sm-6">
          <a href="//www.ebi.ac.uk " title="EMBL-EBI ">
            <span class="ebi-logo"></span>
          </a>
        </div>
        <div class="col-md-2 col-sm-6">
          <h5 class="services">
            <a class="services-color" href="//www.ebi.ac.uk/services "
              >Services</a
            >
          </h5>
          <ul>
            <li class="first">
              <a href="//www.ebi.ac.uk/services ">By topic</a>
            </li>
            <li><a href="//www.ebi.ac.uk/services/all ">By name (A-Z)</a></li>
            <li class="last">
              <a href="//www.ebi.ac.uk/support ">Help &amp; Support</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-6">
          <h5 class="research">
            <a class="research-color" href="//www.ebi.ac.uk/research "
              >Research</a
            >
          </h5>
          <ul>
            <li>
              <a href="//www.ebi.ac.uk/research/publications ">Publications</a>
            </li>
            <li>
              <a href="//www.ebi.ac.uk/research/groups ">Research groups</a>
            </li>
            <li class="last">
              <a href="//www.ebi.ac.uk/research/postdocs ">Postdocs</a> &amp;
              <a href="//www.ebi.ac.uk/research/eipp ">PhDs</a>
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-6">
          <h5 class="training">
            <a class="training-color" href="//www.ebi.ac.uk/training "
              >Training</a
            >
          </h5>
          <ul>
            <li>
              <a href="//www.ebi.ac.uk/training/handson ">Train at EBI</a>
            </li>
            <li>
              <a href="//www.ebi.ac.uk/training/roadshow ">Train outside EBI</a>
            </li>
            <li><a href="//www.ebi.ac.uk/training/online ">Train online</a></li>
            <li class="last">
              <a href="//www.ebi.ac.uk/training/contact-us "
                >Contact organisers</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-6">
          <h5 class="industry">
            <a class="industry-color" href="//www.ebi.ac.uk/industry "
              >Industry</a
            >
          </h5>
          <ul>
            <li>
              <a href="//www.ebi.ac.uk/industry/private ">Members Area</a>
            </li>
            <li><a href="//www.ebi.ac.uk/industry/workshops ">Workshops</a></li>
            <li>
              <a href="//www.ebi.ac.uk/industry/sme-forum "
                ><abbr title="Small Medium Enterprise ">SME</abbr> Forum</a
              >
            </li>
            <li class="last">
              <a href="//www.ebi.ac.uk/industry/contact "
                >Contact Industry programme</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-6">
          <h5 class="about">
            <a class="ebi-color" href="//www.ebi.ac.uk/about "
              >About EMBL-EBI</a
            >
          </h5>
          <ul>
            <li><a href="//www.ebi.ac.uk/about/contact ">Contact us</a></li>
            <li><a href="//www.ebi.ac.uk/about/events ">Events</a></li>
            <li>
              <a
                href="//www.ebi.ac.uk/about/jobs "
                title="Jobs, postdocs, PhDs... "
                >Jobs</a
              >
            </li>
            <li class="first">
              <a href="//www.ebi.ac.uk/about/news ">News</a>
            </li>
            <li>
              <a href="//www.ebi.ac.uk/about/people ">People &amp; groups</a>
            </li>
          </ul>
        </div>
      </nav>
      <section id="ebi-footer-meta " class="ebi-footer-meta">
        <p class="address">
          EMBL-EBI, Wellcome Genome Campus, Hinxton, Cambridgeshire, CB10 1SD,
          UK. +44 (0)1223 49 44 44
        </p>
        <p class="legal">
          Copyright © EMBL-EBI 2017 | EMBL-EBI is
          <a href="http://www.embl.org/ "
            >part of the European Molecular Biology Laboratory</a
          >
          | <a href="//www.ebi.ac.uk/about/terms-of-use ">Terms of use</a>
          <a class="readmore pull-right" href="http://intranet.ebi.ac.uk "
            >Intranet</a
          >
        </p>
      </section>
    </div>
  </div>
</footer>
