<div class="parent" [ngClass]="{
    'top-border-error': violation.type === 'ERROR',
    'top-border-warning': violation.type === 'WARNING',
    'top-border-info': violation.type === 'INFO',
    'top-border-success': violation.type === 'SUCCESS'
  }">

    <div class="container">
        <div class="content">
            <div class="row-container">

                <div class="row-key">
                    <span class="material-symbols-outlined">
                        breaking_news
                        </span>
                    <!--<b>TITLE</b>--> 
                </div> 
                    <div class="row-content"> <h2>{{ violation.title }}</h2> </div>
            </div>
        </div>
        <div class="content">
            <div class="row-container">
                <div class="row-key">
                    <span class="material-symbols-outlined">
                        description
                        </span>
                    <!--<b>DESCRIPTION</b>--> 
                </div> 
                <div class="row-content"> {{ violation.description }} <br> {{violation.violation}}</div> 
            </div>
        </div>
        <div class="content">
            <div class="row-container">
                <div class="row-key">
                    <span class="material-symbols-outlined">
                        my_location
                        </span>
                    <!--<b>LOCATION</b>-->
                </div> <div class="row-content"> {{ violation.sourceFile}}</div>
            </div>
        </div>
        <div class="sidebar sidebar-top" > 
            <div class="type" [ngClass]="{
            'bg-error': violation.type === 'ERROR',
            'bg-warning': violation.type === 'WARNING',
            'bg-info': violation.type === 'INFO',
            'bg-success': violation.type === 'SUCCESS'
          }"><span class="material-symbols-outlined">
            {{typeIcon}}
            </span><b>{{ violation.type }}</b> </div>
          <div class="button-container sidebar-bottom"> 
    
            <button (click)="openInfoModal()" class="button bc-item rounded-top-button is-dark"><mat-icon>info</mat-icon>&nbsp; Details</button>
            <a   [href]="
            'mailto:metabolights-help@ebi.ac.uk?subject=Regarding validation rule - ' +
            violation.identifier
          " class="button bc-item is-dark"><mat-icon>mail</mat-icon>&nbsp; Contact</a>
            <button class="button bc-item rounded-bottom-button is-dark" (click)="openRawModal()"><mat-icon>visibility</mat-icon>&nbsp; View Raw</button>
            <button *ngIf="isCurator && (violation.type === 'ERROR' || violation.type === 'WARNING')" class="button bc-item rounded-bottom-button is-dark"><span class="material-symbols-outlined">
                sword_rose
                </span> &nbsp; Override</button>
    
          </div>
          <div class="spinner-container">
            <!--a spinner here perhaps     <mat-progress-spinner
            class="example-margin spinner"
            [color]="'success'"
            [diameter]="30"
            [value]="75">
        </mat-progress-spinner>-->
          </div>
    
        </div>
    
    </div>
    <div class="violation-footer">
        <div class="footer-container">
            <div class="violation-footer-item footer-container-1"><small> ID: <i>{{ violation.identifier}}</i> </small></div>
            <div class="violation-footer-item footer-container-2"><small>Timestamp:<i> December 25th, 9999, 00:00:00 UTC</i></small></div>
            <div class="footer-container-3">        <small>Report Hash ID: <i>4e9a2bef74a8e-9c1a3b2c34d5f6a7b8c</i></small></div>
        </div>
    </div>
</div>
<div *ngIf="isRawModalOpen === true">
    <raw-violation-modal [violation]="violation" (closeEvent)="closeRawModal()">
    </raw-violation-modal>
</div>
<div *ngIf="isInfoModalOpen === true">
    <violation-info-modal [violation]="violation" (closeEvent)="closeInfoModal()"></violation-info-modal>
</div>