<div *ngIf="addNewDescriptor || descriptor == null; else showDescriptorDetails">
  <a class="button is-primary is-pulled-right is-small" (click)="openModal()"
    >+ Add</a
  >
</div>
<ng-template #showDescriptorDetails>
  <div class="control">
    <div class="tags has-addons" style="margin-bottom: 5px">
      <span
        *ngIf="!isStudyReadOnly"
        class="tag is-primary clickable"
        (click)="openModal()"
      >
        <i class="material-icons"> edit </i>
      </span>
      <span class="tag is-default is-small">
        <ontology-details [value]="descriptor"></ontology-details>
      </span>
    </div>
  </div>
</ng-template>

<!-- Delete Modal Block Start-->
<div class="modal" [ngClass]="{ 'is-active': isDeleteModalOpen }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <p>Are you sure you want to delete?</p>
    </section>
    <footer class="modal-card-foot">
      <div class="columns is-gapless full-width">
        <div class="column is-half">
          <button (click)="closeDelete()" class="button is-info">Cancel</button>
        </div>
        <div class="column is-half has-text-right">
          <button (click)="deleteNgxs(null)" class="button is-danger">
            OK! Delete Permanently
          </button>
        </div>
      </div>
    </footer>
  </div>
</div>
<!-- Delete Modal Block End-->

<div class="modal" [ngClass]="{ 'is-active': isModalOpen }">
  <form *ngIf="form" [formGroup]="form">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div *ngIf="isFormBusy" class="load-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <section class="modal-card-body">
        <span *ngIf="descriptor != null; else noDescriptor">
          <mtbls-ontology
            #descriptorComponent
            [validations]="validation"
            [controlList]="controlList()"
            (changed)="onChanges($event)"
            [values]="[descriptor]"
            [inline]="true"
          ></mtbls-ontology>
        </span>
        <ng-template #noDescriptor>
          <mtbls-ontology
            #descriptorComponent
            [validations]="validation"
            [controlList]="controlList()"
            (changed)="onChanges($event)"
            [values]="[]"
            [inline]="true"
          ></mtbls-ontology>
        </ng-template>
      </section>
      <footer class="modal-card-foot">
        <div class="columns is-gapless full-width">
          <div class="column is-half">
            <button
              *ngIf="!addNewDescriptor"
              class="button is-danger is-pulled-left"
              (click)="confirmDelete()"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              *ngIf="addNewDescriptor"
              class="button is-primary is-pulled-left"
              (click)="openImportModal()"
            >
              <mat-icon>label</mat-icon> Import
            </button>
          </div>
          <div class="column is-half has-text-right">
            <button
              *ngIf="!form.pristine"
              [disabled]="!form.valid || isFormBusy"
              (click)="saveNgxs()"
              class="button is-info"
            >
              <mat-spinner
                [diameter]="20"
                [strokeWidth]="3"
                *ngIf="isFormBusy"
              ></mat-spinner>
              Save
            </button>
            <button
              *ngIf="form.pristine"
              (click)="closeModal()"
              class="button is-info"
            >
              OK
            </button>
            <button
              class="button"
              [disabled]="isFormBusy"
              (click)="closeModal()"
            >
              Cancel
            </button>
          </div>
        </div>
      </footer>
    </div>
  </form>
</div>

<!--Import descriptor modal block start-->
<div class="modal" [ngClass]="{ 'is-active': isImportModalOpen }">
  <form *ngIf="form" [formGroup]="form">
    <div class="modal-background"></div>
    <div class="modal-card">
      <div *ngIf="isFormBusy" class="load-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <section class="modal-card-body">
        <mat-form-field class="full-width">
          <mat-label>Select Publication</mat-label>
          <mat-select
            (selectionChange)="getKeyWords()"
            [formControl]="selectedPublication"
            required
          >
            <mat-option> Please select </mat-option>
            <mat-option
              ngDefaultControl
              *ngFor="let publication of publications"
              [value]="publication.doi"
              >{{ publication.title }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <div class="field is-grouped is-grouped-multiline">
          <span
            (click)="toggleSelection(keyword)"
            style="margin-bottom: 10px"
            *ngFor="let keyword of keywords"
          >
            <div class="tags has-addons pointer">
              <span
                [class]="
                  isSelected(keyword) ? 'tag is-primary pointer' : 'tag pointer'
                "
                >{{ keyword }}</span
              >
            </div>
          </span>
        </div>
        <span *ngIf="!loading; else showStatus">
          <small *ngIf="keywords.length > 0"
            >Click to select the keywords</small
          >
        </span>
        <ng-template #showStatus>
          <img
            style="height: 10px; margin-left: 10px"
            src="{{ baseHref }}assets/img/loading.svg"
          />
          {{ status }}
        </ng-template>
      </section>
      <footer class="modal-card-foot">
        <div class="columns is-gapless full-width">
          <div class="column is-half"></div>
          <div class="column is-half has-text-right">
            <button
              class="button"
              [disabled]="isFormBusy"
              (click)="updateAndCloseNgxs()"
            >
              OK
            </button>
          </div>
        </div>
      </footer>
    </div>
  </form>
</div>
<!--Import descriptor modal block end-->
