.tags .tag {
  margin-bottom: 1rem;
  text-transform: none;
}

.pointer {
  cursor: pointer;
}

.badge {
  background-color: #1976d2;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0 4px;
  border-radius: 4px;
  vertical-align: super;
}