<div *ngIf="ready; else notReadyBlock">
    <!--Mothballed for now until it is fully featured-->
    <!--<app-validation-report-summary [report]="report" [accession]="studyId"></app-validation-report-summary>-->
    <br>
    <!--Validation v2 information start-->

    <div *ngIf="validationEnabled" class="notification is-primary attention">
        <p>
            <mat-icon>report</mat-icon> You <strong>must address all Errors and should also fix Warnings (where applicable) </strong> to progress your study and promote the status from 'Provisional' to 'Private' (or from 'Private' to 'Public').
            Study validation will need to be re-run after making any type of edits to the study (e.g. metadata updates and/or data files uploads).
        </p>
        <br>

        <p>
          If you have any problems or queries, please see the <a href="{{ guidesUrl }}" target="_blank">guides</a>, or think some validation rules may not be applicable for your study, contact us at <a href="mailto:metabolights-help&#64;ebi.ac.uk">metabolights-help&#64;ebi.ac.uk</a>.
    </p>
</div>

        <div *ngIf="validationNeeded" class="notification is-warning">
            <mat-icon>info</mat-icon> There have been recent updates to your study. Please rerun the validation.
          </div>
    <!--Validation v2 information end-->
    <div class="validation-panel">
        <div>
            <app-validation-task-box *ngIf="validationEnabled"></app-validation-task-box>
        </div>
      </div>
      <br>

    <!--History dropdown wrapper start-->
    <div class="history-wrapper-top-menu">
        <div *ngIf="report !== null" class="history-dropdown-box">
            <mat-form-field class="select-box" appearance="fill">
                <mat-label>Select a Report</mat-label>
                <mat-select class="select-box" [(ngModel)]="selectedPhase" (ngModelChange)="onPhaseSelection($event)">
                <mat-option *ngFor="let phase of history; let isFirst = first" [value]="phase">
                    {{ phase.validationTime | validationDateFormat | date: 'MMM d, y, H:mm:ss ' }}
                    <span *ngIf="isFirst"><b>(most recent)</b></span>
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="download-report-button">
            <a *ngIf="overrides.length > 0" (click)="openOverrideListModal()" class="button is-light"> <mat-icon>picture_in_picture</mat-icon> View Enabled Overrides</a>
            &nbsp;
            <a *ngIf="modifierMetadataFileUpdates.length > 0" (click)="openMetadataModifiersModal()" class="button is-light"><mat-icon>picture_in_picture</mat-icon>View Metadata Updates</a>
            &nbsp;
            <a *ngIf="report !== null" (click)="downloadReport()" class="button is-light"> <mat-icon>cloud_download</mat-icon> Download Report</a>
        </div>

    </div>


        <div *ngIf="report !== null; else noViolations" [ngClass]="{'blurred': loadingDiffReport}"  class="history-dropdown">
            <!--Violation components start-->
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" disablePagination>
            <mat-tab label="All">
                <br>
                <div *ngIf="allViolations.length > 0; else noViolations">
                    <div *ngIf="allViolations !== null">
                        <div *ngFor="let violation of allViolations; let i = index;">
                            <validation-v2-detail [violation]="violation"></validation-v2-detail>
                            <br>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="General">

                <app-validation-section [subsections]="generalSubsections" [violations]="generalViolations" [studyId]="studyId">
                </app-validation-section>
            </mat-tab>

            <mat-tab label="Investigation File">
                <app-validation-section [subsections]="investigationSubsections" [violations]="investigationViolations" [studyId]="studyId">
                </app-validation-section>
            </mat-tab>

            <mat-tab label="Samples">

                <app-validation-section [subsections]="samplesSubsections" [violations]="sampleViolations" [studyId]="studyId">
                </app-validation-section>
            </mat-tab>

            <mat-tab label="Assays">
                <app-validation-section [subsections]="assaySubsections" [violations]="assayViolations" [studyId]="studyId">
                </app-validation-section>
            </mat-tab>

            <mat-tab label="Metabolites">
                <app-validation-section [subsections]="assignmentSubsections" [violations]="assignmentViolations" [studyId]="studyId">
                </app-validation-section>
            </mat-tab>

            <mat-tab label="Files">
                <app-validation-section [subsections]="filesSubsections" [violations]="filesViolations" [studyId]="studyId">
                </app-validation-section>
            </mat-tab>
            </mat-tab-group>
            <!--Violations components end-->
        </div>
    <!--History dropdown wrapper end-->
<!-- Overlay text (only appears when blurred) -->
  <div class="overlay-text" *ngIf="loadingDiffReport">
    <p>Overlay Text: Action Required</p>
  </div>
<!--End of overlay text-->


</div>
<!--The below should be made to work with our existing loading component if possible-->
<ng-template #notReadyBlock>
    <span>
        <img src="{{ baseHref }}assets/img/loading.svg" /> <br />
        <br />
        <small>
            <p class="has-text-info">
                <mat-icon>comment</mat-icon>Loading New Validation Report
            </p>
        </small>
    </span>
</ng-template>

<!--No violations found template-->
<ng-template #noViolations>
    <app-no-violations [studyId]="studyId" [success]="validationStatus === 'SUCCESS'"></app-no-violations>
<br>
</ng-template>

<!--List of override modals-->
<ng-container *ngIf="overrideListModalOpen">
 <list-overrides [overrides]="overrides" [isCurator]="isCurator" (closeEvent)="overrideListModalClosed($event)" (deleteEvent)="handleDeleteOverride($event)"></list-overrides>
</ng-container>

<!--Metadata modifiers modal-->
<ng-container *ngIf="metadataModifiersModalOpen">
    <metadata-modifiers-modal [modifierMetadataFileUpdates]="modifierMetadataFileUpdates" (closeEvent)="metadataModifiersModalClosed()"></metadata-modifiers-modal>
</ng-container>
