img {
  height: auto;
}

.panel-heading {
  font-size: 1em;
}

.panel-block {
  font-size: 0.9em;
}

.panel-block.is-active-file {
  border-left: 7px solid #3273dc;
}

.w100 {
  width: 100%;
}

.vh30 {
  min-height: 50vh;
}

.file-img {
  margin-top: -5px;
  height: 20px !important;
  max-width: none !important;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
}

.status-container {
  display: flex;
  flex-direction: column;
}


.dummy {
  background-color: black;
  border-left: 1px dashed cadetblue;
  border-bottom: 1px dashed cadetblue;
  color: #dbdbdb;
  padding: 3px;
}

.ftp-button {
  vertical-align: middle !important;
}

.ftp-box {
  border-left: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  width: 45%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  
}