img {
  height: auto;
}

.panel-heading {
  font-size: 1em;
}

.panel-block {
  font-size: 0.9em;
}

.panel-block.is-active-file {
  border-left: 7px solid #3273dc;
}

.w100 {
  width: 100%;
}

.vh30 {
  min-height: 50vh;
}

.file-img {
  margin-top: -5px;
  height: 20px !important;
  max-width: none !important;
}
/* container -> ftp box -> interior container*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
}

.ftp-box {
  border-left: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  width: 45%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-right: 0% !important;
  
}

.interior-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  padding-left: 0;
  padding-top: 0;
  height: 100%;
  /*border: green dashed 2px;*/
}

.interior-container.left {
  border-right: 1px solid #dbdbdb;
  padding-left: 1%;
}

.interior-container.right {
  border-left: 1px solid #dbdbdb;
}

.status-container {
  display: flex;
  flex-direction: column;
}


.response {
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  color: #000000;
  padding: 3px;
}

.response.top {
  border-top: 1px solid #dbdbdb;
}

.response.bottom {
  border-bottom: 0 !important;
}

.ftp-button {
  vertical-align: middle !important;
}



.response mat-icon {
  color: grey;
}
