
<span *ngIf="filesLoading; else showContent">
  <div class="vc vh30">
    <span class="has-text-centered">
      <img src="{{ baseHref }}assets/img/loading.svg" /><br />
      <small class="has-text-grey">LOADING FILES</small>
    </span>
  </div>
</span>
<ng-template #showContent>
  <div>

    <mtbls-download-http  *ngIf="status == 'Public'"></mtbls-download-http>
    <mtbls-download-ftp  *ngIf="status == 'Public'"></mtbls-download-ftp>
    <mtbls-download-aspera *ngIf="status == 'Public'" class="aspera-download-button"></mtbls-download-aspera>
    <mtbls-upload *ngIf="!isReadOnly" class="upload-button"
      [type]="'any'"
      [multiple]="true"
      [mode]="'button'"
      (complete)="loadFilesPassively()"
      [size]="'is'"
    ></mtbls-upload>
    <span *ngIf="!isReadOnly" class="refresh-button" >
      <a (click)="loadFilesPassively()" class="button is-light">
        <mat-icon>refresh</mat-icon> Refresh
      </a>
      <span>
        <span *ngIf="refreshingData">
          <img
            style="height: 10px; margin-left: 10px"
            src="{{ baseHref }}assets/img/loading.svg"
          />
        </span>
      </span>
    </span>

    <span *ngIf="!isReadOnly && curator" class="is-pulled-right">
      <a *ngIf="access == null"
        (click)="getFolderStatus()"
        class="button is-light"
      >
        <mat-icon>refresh</mat-icon> <small>FTP Folder Status</small>
      </a>
      <a
        *ngIf="access == 'Read'"
        (click)="toggleFolderAccess()"
        class="button is-light"
      >
        <mat-icon>lock</mat-icon> <small>READ ONLY ACCESS</small>
      </a>
      <a
        *ngIf="access == 'Write'"
        (click)="toggleFolderAccess()"
        class="button is-light"
      >
        <mat-icon>lock_open</mat-icon><small>READ WRITE ACCESS</small>
      </a>
    </span>
  </div>

  <mat-divider class="file-divider" [inset]="true"></mat-divider>

  <div *ngIf="!isReadOnly" class="notification is-warning message">
    <small
      ><mat-icon>warning</mat-icon> Please ensure your study folder is up-to-date. Start synchronization to update study folder.
      Please note that the sync operations may take some time to complete. If your synchronization is not completed successfully, please contact us
      <a
        [href]="
          'mailto:metabolights-help@ebi.ac.uk?subject=Regarding sync from FTP folder - ' +
          requestedStudy
        "
        >metabolights-help@ebi.ac.uk</a
      >
      for help.</small
    >
  </div>


  <!--ftp management component start-->
<div class="container parent resync-section">
  <app-rsync
  *ngIf="!isReadOnly"
  title="Metadata Files"
  helpMessage="Check your study FTP folder and synchronise your study metadata (i_Investigation.txt, a_*.txt, s_*.txt, m_*.tsv) files from FTP folder to your study folder."
  [studyId]="studyIdentifier"
  sourceStagingArea="ftp-private"
  targetStagingArea="rw-study"
  syncType="metadata"
  runSyncOnCluster="false"
  runDryRunOnCluster="false"
  pollingInterval=5000
  (filesSynchronized)="onFilesSynchronized($event)"
  ></app-rsync>

    <app-rsync
    *ngIf="!isReadOnly"
    title="Data Files"
    helpMessage="Check your study FTP folder and synchronise your study data (raw, derived, supplementary) files from FTP folder to your study folder."
    [studyId]="studyIdentifier"
    sourceStagingArea="ftp-private"
    targetStagingArea="readonly-study"
    syncType="data"
    runSyncOnCluster="false"
    runDryRunOnCluster="false"
    pollingInterval=10000
    (filesSynchronized)="onFilesSynchronized($event)"
    ></app-rsync>
  <div *ngIf="!isReadOnly && curator">
    <app-rsync
    title="Internal Files"
    helpMessage="Check internal files (chebi_pipeline_annotations) and synchronise from FTP folder to your study folder."
    [studyId]="studyIdentifier"
    sourceStagingArea="ftp-private"
    targetStagingArea="rw-study"
    syncType="internal"
    runSyncOnCluster="false"
    runDryRunOnCluster="false"
    pollingInterval=10000
    (filesSynchronized)="onFilesSynchronized($event)"
    ></app-rsync>
  </div>

</div>
<mat-divider class="file-divider" [inset]="true"></mat-divider>
  <!---ISA Metadata Panel start-->
  <nav class="panel">
    <span #spacer1></span>
    <p
      class="panel-heading"
      style="z-index: 1000; padding: 7px 10px"
      stickyThing
      [spacer]="spacer1"
      [attr.marginTop]="!isReadOnly ? '35' : '0'"
      isReadOnly
    >
      <label class="section-header">
        <input
          [checked]="filteredMetaFiles.length == selectedMetaFiles.length"
          (change)="selectFiles($event, 'meta', null, true)"
          type="checkbox"
          name=""
        />&nbsp;&nbsp;ISA METADATA
      </label>
      <span class="is-pulled-right">
        <mtbls-download [value]="selectedDownloadFiles()"></mtbls-download>
      </span>
      <span
        *ngIf="selectedMetaFiles.length > 0 && !isReadOnly"
        class="is-pulled-right"
      >
        <small
          (click)="openDeleteConfirmation('meta', 'study')"
          style="font-size: 0.67em"
          class="button is-light is-small"
          ><mat-icon style="font-size: 16px">delete</mat-icon> Delete
          files</small
        >
      </span>
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input
          (keyup)="applyFilter($event, 'meta')"
          class="input is-small"
          type="text"
          placeholder="search meta data"
        />
        <span class="icon is-small is-left">
          <mat-icon>search</mat-icon>
        </span>
      </p>
    </div>
    <span *ngIf="filteredMetaFiles.length > 0; else noMetaData">
      <span *ngFor="let file of filteredMetaFiles">
        <a
          class="panel-block"
          [ngClass]="file.status == 'active' ? 'is-active-file' : ''"
        >
          <div class="columns w100">
            <div class="column is-four-fifths">
              <label>
                <input
                  (change)="selectFiles($event, 'meta', file, false)"
                  [checked]="isChecked(file.file, 'meta')"
                  type="checkbox"
                  name=""
                />
                <span class="panel-icon">
                  <span *ngIf="isFolder(file); else fileIcon">
                    <span *ngIf="file.files; else openFolder">
                      <img
                        class="file-img"
                        src="{{ baseHref }}assets/img/folder.png"
                      />
                    </span>
                    <ng-template #openFolder>
                      <img
                        class="file-img"
                        src="{{ baseHref }}assets/img/folder-open.png"
                      />
                    </ng-template>
                  </span>
                  <ng-template #fileIcon>
                    <img
                      class="file-img"
                      src="{{ baseHref }}assets/img/file.png"
                    />
                  </ng-template>
                </span>
                {{ file.file }}
                <span class="has-text-grey-lighter"
                  ><small>{{
                    file.createdAt.replace("'", "").replace("'", "")
                  }}</small></span
                >
              </label>
            </div>
            <div class="column is-one-fifths has-text-right">
              <span class="is-pulled-right has-text-grey">
                <small>
                  <mtbls-download
                    [type]="'icon'"
                    [value]="file.file"
                  ></mtbls-download>
                </small>
              </span>
            </div>
          </div>
        </a>
      </span>
    </span>
    <ng-template #noMetaData>
      <a class="panel-block"> No metadata files </a>
    </ng-template>
  </nav>
  <!--ISA Metadata panel end -->

  <!-- RAW / DERIVED Files Panel start-->
  <nav class="panel">
    <span #spacer2></span>
    <span *ngIf="rawFilesLoading; else rawFilesLoaded">
      <img
        style="height: 10px; margin-left: 10px"
        src="{{ baseHref }}assets/img/loading.svg"
      />
    </span>
    <ng-template #rawFilesLoaded>
      <p
        class="panel-heading"
        style="z-index: 1000; padding: 10px"
        stickyThing
        [spacer]="spacer2"
        [attr.marginTop]="!isReadOnly ? '35' : '0'"
      >
        <!-- <input [checked]="filteredRawFiles.length == selectedRawFiles.length" (change)="selectFiles($event, 'raw', null, true)" type="checkbox" name="">&nbsp;&nbsp; -->
        <label class="section-header">RAW / DERIVED FILES
        </label>
        <span *ngIf="selectedRawFiles.length > 0" class="is-pulled-right">
          <span *ngIf="containsZipFiles(selectedRawFiles)">
            <small
              (click)="decompresssFiles(selectedRawFiles)"
              style="font-size: 0.67em"
              class="button is-light is-small"
              ><mat-icon style="font-size: 14px">library_books</mat-icon> Unzip
              files</small
            >&nbsp;
          </span>
          <small
            *ngIf="!isReadOnly"
            (click)="openDeleteConfirmation('raw', 'study')"
            style="font-size: 0.67em"
            class="button is-light is-small"
            ><mat-icon style="font-size: 14px">delete</mat-icon> Delete
            files</small
          >
        </span>
      </p>
      <div class="panel-block">
        <p class="control has-icons-left">
          <input
            (keyup)="applyFilter($event, 'raw')"
            class="input is-small"
            type="text"
            placeholder="search raw files"
          />
          <span class="icon is-small is-left">
            <mat-icon>search</mat-icon>
          </span>
        </p>
      </div>
      <span *ngIf="filteredRawFiles.length > 0; else noRawFiles">
        <span *ngFor="let file of filteredRawFiles">
          <mtbls-directory
            [level]="0"
            [parent]="''"
            [file]="file"
            [collapse]="autoCollapsedFolder(file)"
            [deletionEnabled]="deletionEnabled(file)"
            [downloadEnabled]="downloadEnabled(file)"
            [readonlyFolder]="readonlyFolder(file)"
            (fileDeleted)="handleDeletedFile($event, rawFiles, filteredRawFiles, selectedRawFiles)"
          ></mtbls-directory>
        </span>
      </span>
      <ng-template #noRawFiles>
        <a class="panel-block"> No raw or derived files found in the study </a>
      </ng-template>
    </ng-template>
  </nav>
  <!-- RAW / DERIVED files panel end-->

  <!-- Audit files panel start-->
  <nav *ngIf="auditFiles.length > 0" class="panel">
    <span #spacer3></span>
    <p
      class="panel-heading"
      style="z-index: 1000; padding: 10px"
      stickyThing
      [spacer]="spacer3"
      [attr.marginTop]="!isReadOnly ? '35' : '0'"
    >
      <label class="section-header">
        SYSTEM FILES
      </label>
    </p>
    <span *ngIf="filteredAuditFiles.length > 0">
      <span *ngFor="let file of filteredAuditFiles">
        <mtbls-directory
          [level]="0"
          [parent]="''"
          [file]="file"
          [deletionEnabled]="deletionEnabled(file)"
          [downloadEnabled]="downloadEnabled(file)"
          [readonlyFolder]="readonlyFolder(file)"
          [managedFolders]="getManagedSubFolders()"
          (fileDeleted)="handleDeletedFile($event, auditFiles, filteredAuditFiles, selectedAuditFiles)"
        ></mtbls-directory>
      </span>
    </span>
  </nav>
  <!-- Audit files panel end -->

  <!-- Inferred Data panel start-->
  <nav *ngIf="derivedFiles.length > 0" class="panel">
    <span #spacer4></span>
    <p
      class="panel-heading"
      style="z-index: 1000; padding: 10px"
      stickyThing
      [spacer]="spacer4"
      [attr.marginTop]="!isReadOnly ? '35' : '0'"
    >
      <label class="section-header">
        <input
          [checked]="filteredDerivedFiles.length == selectedDerivedFiles.length"
          (change)="selectFiles($event, 'derived', null, true)"
          type="checkbox"
          name=""
        />&nbsp;&nbsp;DERIVED DATA
      </label>
      <span
        *ngIf="selectedDerivedFiles.length > 0 && !isReadOnly"
        class="is-pulled-right"
      >
        <small
          (click)="openDeleteConfirmation('derived', 'study')"
          style="font-size: 0.67em"
          class="button is-light is-small"
          ><mat-icon style="font-size: 14px">delete</mat-icon> Delete
          files</small
        >
      </span>
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input
          (keyup)="applyFilter($event, 'derived')"
          class="input is-small"
          type="text"
          placeholder="search derived files"
        />
        <span class="icon is-small is-left">
          <mat-icon>search</mat-icon>
        </span>
      </p>
    </div>
    <span *ngIf="filteredDerivedDataFiles.length > 0">
      <span *ngFor="let file of filteredDerivedDataFiles">
       <mtbls-directory
         [level]="0"
         [parent]="''"
         [file]="file"
         [deletionEnabled]="deletionEnabled(file)"
         [downloadEnabled]="downloadEnabled(file)"
         [readonlyFolder]="readonlyFolder(file)"
         (fileDeleted)="handleDeletedFile($event, derivedFiles, filteredDerivedFiles, selectedDerivedFiles)"
       ></mtbls-directory>
      </span>
    </span>
    <span *ngIf="filteredDerivedFiles.length > 0">
      <span *ngFor="let file of filteredDerivedFiles">
        <a class="panel-block">
          <div class="columns w100">
            <div class="column is-four-fifths">
              <label>
                <input
                  (change)="selectFiles($event, 'derived', file, false)"
                  [checked]="isChecked(file.file, 'derived')"
                  type="checkbox"
                  name=""
                />
                <span class="panel-icon">
                  <span *ngIf="isFolder(file); else fileIcon">
                    <span *ngIf="file.files; else openFolder">
                      <img
                        class="file-img"
                        src="{{ baseHref }}assets/img/folder.png"
                      />
                    </span>
                    <ng-template #openFolder>
                      <img
                        class="file-img"
                        src="{{ baseHref }}assets/img/folder-open.png"
                      />
                    </ng-template>
                  </span>
                  <ng-template #fileIcon>
                    <img
                      class="file-img"
                      src="{{ baseHref }}assets/img/file.png"
                    />
                  </ng-template>
                </span>
                {{ file.file }}
                <span class="has-text-grey-lighter"
                  ><small>{{
                    file.createdAt.replace("'", "").replace("'", "")
                  }}</small></span
                >
              </label>
            </div>
            <div class="column is-one-fifths has-text-right">
              <small>
                <mtbls-download
                  [type]="'icon'"
                  [value]="file.file"
                ></mtbls-download>
              </small>
            </div>
          </div>
        </a>
      </span>
    </span>
  </nav>
  <!-- Inferred data penel end-->


  <mat-divider class="file-divider" [inset]="true"></mat-divider>


  <!-- i_Investigation.txt warning start-->
  <div *ngIf="!isReadOnly" class="notification is-warning message">
    <small>This section shows your FTP folder contents. Please start synchronization to use the updated files on FTP folder.</small>
  </div>
  <!-- i_Investigation.txt warning end-->
  <!-- FTP panel start-->
  <nav *ngIf="!isReadOnly" class="panel">

    <span #spacer5></span>
    <p
      class="panel-heading"
      style="z-index: 1000; padding: 10px"
      stickyThing
      [spacer]="spacer5"
      [attr.marginTop]="!isReadOnly ? '35' : '0'"
    >
      <label class="section-header">
        FTP UPLOAD FOLDER
      </label>
      <span class="is-pulled-right">
        <a
          (click)="loadFiles()"
          class="button is-small is-light"
        >
          <mat-icon>refresh</mat-icon> Refresh
        </a>
      </span>
      <!-- <span
        *ngIf="!isReadOnly"
        class="is-pulled-right"
      >
        <small
          (click)="openDeleteConfirmation('upload', 'upload')"
          style="font-size: 0.67em"
          class="button is-light is-small"
          ><mat-icon style="font-size: 14px">delete</mat-icon> Delete files</small
        >
      </span> -->
    </p>
    <div class="panel-block">
      <p class="control has-icons-left">
        <input
          (keyup)="applyFilter($event, 'upload')"
          class="input is-small"
          type="text"
          placeholder="search uploaded files"
        />
        <span class="icon is-small is-left">
          <mat-icon>search</mat-icon>
        </span>
      </p>
    </div>
    <span *ngIf="filteredUploadFiles.length > 0">
      <span *ngFor="let file of filteredUploadFiles">
        <mtbls-directory
          [level]="0"
          [parent]="''"
          [file]="file"
          [deletionEnabled]="true"
          [downloadEnabled]="false"
          [downloadContents]="false"
          [readonlyFolder]="false"
          [location]="ftpLocation"
          (fileDeleted)="handleDeletedFile($event, uploadFiles, filteredUploadFiles, selectedUploadFiles)"
        ></mtbls-directory>
      </span>
    </span>
  </nav>

<!--FTP panel end-->
</ng-template>
<div class="modal" [ngClass]="{ 'is-active': isDeleteModalOpen }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <p>Are you sure you want to delete?</p>
      <label>
        <input
          type="checkbox"
          [checked]="forceMetaDataDelete"
          (change)="changeforceMetaDataDeleteValue($event)"
        />
        <small>&nbsp;Force delete meta data</small>
      </label>
    </section>
    <footer class="modal-card-foot">
      <div class="columns is-gapless full-width">
        <div class="column is-half">
          <button (click)="closeDeleteConfirmation()" class="button is-info">
            Cancel
          </button>
        </div>
        <div class="column is-half has-text-right">
          <button (click)="deleteSelected()" class="button is-danger">
            OK! Delete Permanently
          </button>
        </div>
      </div>
    </footer>
  </div>
</div>
