.message-header {
  align-items: center;
  background-color: #eef6fc;
  border-radius: 0;
  color: #174287;
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  line-height: 1.25;
  padding: 0.75em 1em;
  position: relative;
}

.message-body {
  border-color: #dbdbdb;
  border-radius: 0px;
  border-style: solid;
  border-width: 0;
  color: #4a4a4a;
  padding: 1.25em 1.5em;
}

.message {
  background-color: #ffffffb5;
  border-radius: 0px;
  border: 1px solid #cce9ff;
}

.files-tab {
  padding: 0px;
}

.banner {
  font-size: 14px;
  color: red;
  background-color: cornsilk;
  border: 1px solid #cce9ff;
  border-radius: 5px;
  padding: 5px;
}

.has-warning a {
  color: #b34700 !important;
  font-weight: bold;

}

.validation-warning-icon {
  margin-left: 0.3rem;
  color: #ff5722;
  font-weight: bold;
}

.tabs li.is-active a {
  background-color: aliceblue;
  border-bottom-color: #3273dc;
  color: #3273dc;
}