<span>
	<a (click)="openFilesMapperModal()" class="button button-primary"> <i class="material-icons">
        link
        </i>  Map files</a>
</span>
<span>
	<div class="modal" [ngClass]="{'is-active': isAddFileMapperModalOpen}">
		<div class="modal-background"></div>
		<div class="modal-card vw90 vh90">
		      <div *ngIf="isFormBusy" class="load-bar">
		        <div class="bar"></div>
		        <div class="bar"></div>
		        <div class="bar"></div>
		    </div>
		    <section class="modal-card-body">
                <div class="columns" cdkDropListGroup>
                    <div class="column is-one-fifth">
                        <div
                            id="rawFiles"
                            cdkDropList
                            [cdkDropListData]="todo"
                            (cdkDropListDropped)="drop($event)">
                            <nav class="panel">
                                <p class="panel-heading">
                                    Raw Files ({{ fileNamesArray.length }})                                 
                                </p>
                                <div class="panel-block">
                                    <input [(ngModel)]="fileFilter" class="input" type="text" placeholder="Search">
                                </div>
                                <p class="panel-tabs">
                                    <a class="is-active">All</a>
                                    <!-- <a>Filtered</a> -->
                                </p>
                                <div style="height: 78vh; overflow-y: auto" class="border">
                                    <div [ngClass]="{'active' : isSelected('rawFiles',i,item)}" (click)="select('rawFiles', item, i)" *ngFor="let item of fileNamesArray; let i = index" cdkDrag (cdkDragStarted)="dragStarted($event, index)"
                                    (cdkDragEnded)="dragEnded()"
                                    (cdkDragDropped)="dropped($event)" class="panel-block">
                                        {{item.file }}
                                    
                                        <div *cdkDragPreview style="width: 200px; padding: 4px; border: 1px solid #dbdbdb; background-color: white; text-align: center">
                                            <b>{{ selectedRawItemsCount }}</b>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="column is-one-fifth">
                        <div
                        id="samples"
                        cdkDropList
                        [cdkDropListData]="done"
                        (cdkDropListDropped)="drop($event)">
                        <nav class="panel">
                                <p class="panel-heading">
                                    Samples ({{ sampleNamesArray.length }})                                 
                                </p>
                                <div class="panel-block">
                                    <input class="input" type="text" placeholder="Search">
                                </div>
                                <p class="panel-tabs">
                                    <a class="is-active">All</a>
                                    <!-- <a>Filtered</a> -->
                                </p>
                                <div style="height: 78vh; overflow-y: auto" class="border">
                                    <a *ngFor="let sample of sampleNamesArray" cdkDrag class="panel-block">
                                        {{ sample }}
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div *ngFor="let assayName of assayNamesArray; let i = index" class="column">
                        <div
                            id="assayName"
                            >
                            <nav class="panel">
                                <p class="panel-heading">
                                    Assay ({{ i }})                                 
                                </p>
                                <div class="panel-block">
                                    <input class="input" type="text" placeholder="Search">
                                </div>
                                <p class="panel-tabs">
                                    <a class="is-active">All</a>
                                    <!-- <a>Filtered</a> -->
                                </p>
                                <div style="height: 78vh; overflow-y: auto" class="border">
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</span>