.modal-content {
    width: 900px;
    max-width: 95%;
}

.modal-header {
    border-bottom: 1px solid #dbdbdb;
    padding: 1.5rem;
}

.modal-header .title {
    margin-bottom: 0 !important;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1.5rem;
    border-top: 1px solid #dbdbdb;
    gap: 1rem;
}

.card-content {
    padding: 1.5rem;
}

.load-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fdba2c;
    z-index: 10;
}

.bar {
    content: "";
    display: inline;
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;
}

.bar:nth-child(1) {
    background-color: #da4733;
    animation: loading 3s linear infinite;
}

.bar:nth-child(2) {
    background-color: #3b78e7;
    animation: loading 3s linear 1s infinite;
}

.bar:nth-child(3) {
    background-color: #fdba2c;
    animation: loading 3s linear 2s infinite;
}

@keyframes loading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }

    33.3% {
        left: 0;
        width: 100%;
        z-index: 10;
    }

    to {
        left: 0;
        width: 100%;
    }
}