<mtbls-header></mtbls-header>
<div class="container page-wrapper">
    <div class="main-wrapper">
        <div class="card-content ">

          <h2 class="title is-3 mt-3">MetaboLights Data Policy</h2>
          <small>11/04/2025</small>
          <mat-divider></mat-divider>
          <br>
          <h3 class="title is-4">General guidelines for submitted datasets</h3>
          <p>Submitters of metabolomics datasets to MetaboLights should be aware of the following aspects of our data policy.</p>
          <br>
          <h4 class="title is-5">A) General Statements</h4>
          <div class="margin-list">
            <li>The MetaboLights database (as an EMBL-EBI resource) has an uniform policy of free and unrestricted access to
              all the datasets deposited once they are released to the public.</li>
                      <li>Submitters are advised that the information displayed on MetaboLights is fully disclosed to the public.
          It is the responsibility of the submitters to ascertain that they have the right to submit the data.
        </li>
            <li>Beyond limited validation and some internal integrity checks (for example, proper use of ISA-TAB format, use of recommended ontology terms, minimum metadata expectations.),
              the quality and accuracy of the record are the responsibility of the submitter, not of the MetaboLights database.
              The database will work with submitters to achieve the best quality resource possible.</li>
            <li><strong>Dataset Licenses:</strong> The terms of the Creative Commons Public Domain (CC0) License apply to all MetaboLights datasets
              submitted from April 2025 <a href="https://creativecommons.org/public-domain/cc0" target="_blank">(https://creativecommons.org/public-domain/cc0)</a>              .
               In this case, all submitters have specifically agreed to these terms during the submission process.
                All submitted datasets before that date (April 2025) are subject to the EBI terms of use
                <a href="https://www.ebi.ac.uk/about/terms-of-use" target="_blank">(https://www.ebi.ac.uk/about/terms-of-use)</a>
                .</li>
          <li><strong>Data availability:</strong> For how long will MetaboLights datasets remain publicly available? All public datasets will remain permanently
            accessible to the community for the foreseeable future as part of the scientific record.</li>
          </div>
          <br>
          <h4 class="title is-5">B) Private Data</h4>
          <p>
            All datasets submitted to MetaboLights are private by default. Submitters can access their own private datasets by using their MetaboLights username and password.
            A temporary private link will be available to facilitate access for collaborators during the manuscript preparation process or journal editors and reviewers during the manuscript review process.
          </p>
          <p>Datasets will remain private until:</p>
          <div class="margin-list">
            <li>
              The submitter actions or requests that the dataset is released to the public. This can be done at any point (subject to validation). However,
              it is recommended that datasets are released when it is expected that they will not change any longer (e.g. at the moment of publication of the corresponding manuscript).
               See details below about our policy for public datasets.
            </li>
            <li>
              Other users can request the publication of a dataset when the corresponding publication is available. Pre-prints are not considered to be publications in this context.
            </li>
            <li>
              MetaboLights will automatically release datasets to the public upon notification of the corresponding publication (automatically, via e.g. information sent by the journal or available in EuropePMC).
            </li>
            <li>
              Private datasets can be modified (e.g. files can be added or removed from the datasets and/or metadata can be updated) before they are released to the public.
            </li>
            <li>
              <strong>Release date:</strong> The default embargo period will be 1 year though datasets can remain private for up to 2 years after being submitted. If applicable, after this period,
               submitters will need to provide a tentative date for the release of a given dataset. Submitters will be able to extend this date once the deadline is approaching.
               Reminders about dataset release dates will be sent to submitters 60, 30 and 7 days before the set release date. MetaboLights cannot store datasets that remain private forever.
            </li>

          </div>
          <br/>
          <p><strong>Note: </strong> If submitters do not extend the release date, the dataset will be released to the public on the date that was previously selected.</p>
          <br>
          <h4 class="title is-5">C) Public Data</h4>
          Submitters should make sure that the data included in a dataset is consistent, valuable, and correct before it is released to the public.<br/><br/>

          <div class="margin-list">
            <li>
              <strong>Update of public datasets:</strong>  Datasets that have been released to the public should not be modified unless it is really unavoidable, based on exceptional reasons.

              Once a dataset has been released, its availability is then managed by MetaboLights and submitters must contact the team in the event of any issues at that point.
              Therefore, updates in the metadata (including e.g. the title and abstract) must be justified and can be requested to the MetaboLights team.
            </li>
            <li>
              <strong>Removal of public datasets</strong>: Submitters should contact the MetaboLights team to remove a dataset from the resource, which should only happen in very exceptional circumstances:
                <div class="margin-list">
                  <li>
                    Submitters realize that the dataset is incorrect, with no immediate opportunity to correct it.
                  </li>
                  <li>
                    Data is found to have been submitted to MetaboLights without the permission of the rightful owner. This is expected to be extremely rare and requires formal institutional contact with the submitting institution.
                  </li>
                  <li>
                    Formal retraction of the corresponding publication.
                  </li>
                  <li>
                    In any case, once a dataset has been distributed as public, MetaboLights cannot exercise any control on the downstream use of the data by third parties, even if it is subsequently removed from MetaboLights.
                  </li>
                </div>
            </li>
          </div>
          <br/>
          <p><strong>Note: </strong> Datasets from MetaboLights are automatically downloaded and often reused, and the corresponding metadata synchronized between several resources including MetabolomeXchange, OmicsDI and others.</p>
          <br/>
          <div class="margin-list">
            <li><strong>Pre-prints: </strong>By default, we do not encourage the public release of datasets available in pre-print manuscripts until the final publication is accepted.
              Datasets in this situation can often be extensively modified during the peer-review process, and MetaboLights does not have the storage capacity to keep track of all the versions of a given dataset.
              As mentioned above, changes to published datasets should only happen in exceptional circumstances.</li>
          </div>
          <br>
          <h4 class="title is-5">D) Sensitive Datasets</h4>
          <p>
            MetaboLights supports fully open data. At the moment, MetaboLights cannot support appropriately datasets that contain sensitive human data, meaning all those datasets that for legal reasons cannot be made publicly available
            without further restrictions (e.g. datasets that must be made available under controlled-access). Submitters wanting to submit this type of dataset are recommended to find an alternative to MetaboLights.
          </p>
          <br>
          <h4 class="title is-5">Data reuse guidelines</h4>
          <p>
            Following good scientific practices, users that reuse the deposited dataset in MetaboLights should give appropriate credit to the original authors/submitters by citing the original dataset or the publication including the dataset.
          </p>

        </div>
      </div>
  </div>
<mtbls-footer></mtbls-footer>
