<mtbls-header></mtbls-header>
<div class="container page-wrapper">
    <div class="main-wrapper">
        <div class="card-content ">

          <h3 class="title is-3 mt-3">MetaboLights Data Policy</h3>
          <mat-divider></mat-divider>
          <br>
          <h4 class="title is-4">General guidelines for submitted datasets</h4>
          <p>Submitters of metabolomics datasets to MetaboLights should be aware of the following aspects of our data policy.</p>
        </div>
      </div>
  </div>
<mtbls-footer></mtbls-footer>
