<div *ngIf="!hideButton">
  <div class="field">
    <button (click)="openUploadModal()" class="button is-link is-fullwidth">
      Private FTP Upload
    </button>
  </div>
</div>

<div *ngIf="hideButton || isFTPUploadModalOpen"
  [ngClass]="{ 'modal': !hideButton, 'is-active': isFTPUploadModalOpen && !hideButton }">
  <div *ngIf="!hideButton" class="modal-background" (click)="closeUploadModal()"></div>
  <div [ngClass]="{ 'modal-card': !hideButton }">
    <header *ngIf="!hideButton" class="modal-card-head">
      <p class="modal-card-title">Private FTP Upload</p>
    </header>
    <section [ngClass]="{ 'modal-card-body': !hideButton }">
      <div *ngIf="!hideButton">Using FTP Client:</div>
      <!--Start of the ftp table-->
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth mt-2">
        <tbody>
          <tr>
            <th>Server (Host)</th>
            <td>
              <div style="display: flex; align-items: center; justify-content: space-between;">
                <span>{{ details.server }}</span>
                <mat-icon (click)="copyText(details.server)"
                  style="cursor: pointer; font-size: 14px; width: 14px; height: 14px;"
                  matTooltip="Copy Server">content_copy</mat-icon>
              </div>
            </td>
          </tr>
          <tr>
            <th>Username</th>
            <td>
              <div style="display: flex; align-items: center; justify-content: space-between;">
                <span>{{ details.user }}</span>
                <mat-icon (click)="copyText(details.user)"
                  style="cursor: pointer; font-size: 14px; width: 14px; height: 14px;"
                  matTooltip="Copy Username">content_copy</mat-icon>
              </div>
            </td>
          </tr>
          <tr>
            <th>Password</th>
            <td>
              <div style="display: flex; align-items: center; justify-content: space-between;">
                <span>{{ details.secret }}</span>
                <mat-icon (click)="copyText(details.secret)"
                  style="cursor: pointer; font-size: 14px; width: 14px; height: 14px;"
                  matTooltip="Copy Password">content_copy</mat-icon>
              </div>
            </td>
          </tr>
          <tr>
            <th>
              Remote folder (Remote site)
            </th>
            <td>
              <div style="display: flex; align-items: center; justify-content: space-between;">
                <span>{{ ((uploadLocation$ | async) !== null && (uploadLocation$ | async) !== undefined) ?
                  ((uploadLocation$ | async) + subfolder) : 'Loading...' }}</span>
                <mat-icon (click)="copyText((uploadPath ? (uploadPath + subfolder) : ''))"
                  style="cursor: pointer; font-size: 14px; height: 14px;"
                  matTooltip="Copy Remote Folder">content_copy</mat-icon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!--End of ftp table-->
    </section>
    <footer *ngIf="!hideButton" class="modal-card-foot">
      <div class="columns is-gapless full-width">
        <div class="column is-full has-text-right">
          <button (click)="closeUploadModal()" class="button is-default">
            Close
          </button>
        </div>
      </div>
    </footer>
  </div>
</div>