.publication-title {
  min-height: 3.5em;
  font-size: 1em;
  line-height: 1.55em;
  margin-top: 0px;
}

.publication-authors {
  min-height: 2.6em;
}

.custom-button {
  margin-top: 10px;
}

.publication-status {
  margin-top: 12px;
  margin-left: 5px;
}

.box {
  padding: 1.2rem 1.9rem 1.2rem 1.2rem;
}

.mat-icon {
  font-size: 14px;
  width: 20px;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}
