.publication-title {
  font-size: 1em;
  font-weight: normal;
}

.publication-authors {
  min-height: 2.6em;
}

.custom-button {
  margin-top: 10px;
}

.publication-status {
  margin-top: 12px;
  margin-left: 5px;
}

.mat-icon {
  font-size: 14px;
  width: 20px;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

.form-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.half-width {
  flex: 1;
  min-width: 0;
}

@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
  }
}

.full-width {
  width: 100%;
}