<div class="modal is-active ">
    <div class="modal-background"> </div>

    <div class="modal-card">
        <section class="modal-card-body">
            The following items were found to be in violation of {{violation.identifier}}
            <mat-list>
                <mat-divider></mat-divider>
                <div mat-subheader>Items in Violation</div>
                <mat-list-item class="violation-item" *ngFor="let value of violation.values">

                    <div mat-line><mat-icon>note</mat-icon>
                        {{value}}</div>
                    
                </mat-list-item>
            </mat-list>
        </section>
        <button (click)="close()" class="button is-info">
            Close
        </button>
    </div>
</div>