@use '@angular/material' as mat;

@include mat.elevation-classes();
@include mat.app-background();

/* Define the palettes for primary, accent, and warn */
$my-primary: mat.m2-define-palette(mat.$m2-green-palette, 500);
$my-accent: mat.m2-define-palette(mat.$m2-light-green-palette, 400, 500, 700);


$my-theme: mat.m2-define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.m2-define-typography-config(),
 density: 0,
));
/* Include theme styles for core and each component used in your app */
@include mat.all-component-themes($my-theme);
