<header>
  <div class="masthead-black-bar masthead-black-bbar hidden-sm hidden-xs">
    <nav class="navbar navbar-inverse" style="z-index: 10">
      <div class="container" style="padding: 0">
        <ul class="nav navbar-nav">
          <li class="services">
            <a href="//www.ebi.ac.uk/services">Services</a>
          </li>
          <li class="research">
            <a href="//www.ebi.ac.uk/research">Research</a>
          </li>
          <li class="training">
            <a href="//www.ebi.ac.uk/training">Training</a>
          </li>
          <li class="about"><a href="//www.ebi.ac.uk/about">About us</a></li>
          <li>
            <a href="//www.ebi.ac.uk"
              ><i class="icon icon-generic" data-icon="H"></i> EMBL-EBI</a
            >
          </li>
        </ul>
        <ul
          style="position: absolute; right: 0px; top: 0px"
          class="nav navbar-nav navbar-right"
        >
          <li class="dropdown dropdown-large">
            <a class="dropdown-toggle button" data-toggle="dropdown">
              <span class="pull-right">
                Hinxton
                <span class="caret"></span>
              </span>
            </a>
            <div class="dropdown-menu dropdown-menu-large row dark">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <p>
                        EMBL-EBI in Hinxton is one of six EMBL locations across
                        europe.
                      </p>
                      <a href="//www.ebi.ac.uk/about" class="small readmore np"
                        >More about EMBL-EBI</a
                      >
                      <h6>Connect to another EMBL location</h6>
                    </div>
                  </div>
                  <div class="col-md-5 np">
                    <div class="columns small-5 padding-bottom-medium">
                      <a class="np" href="http://www.embl.de/">Heidelberg</a>
                      <div class="small">Main laboratory</div>
                    </div>
                    <div class="columns small-5 padding-bottom-medium">
                      <a class="np" href="http://www.embl.fr/">Grenoble</a>
                      <div class="small">Structural biology</div>
                    </div>
                    <div class="columns small-5 padding-bottom-medium">
                      <a class="np" href="http://www.embl.it/">Monterotondo</a>
                      <div class="small">Mouse biology</div>
                    </div>
                  </div>
                  <div class="col-md-7 np">
                    <div class="columns small-7 padding-bottom-medium">
                      <a class="np" href="http://www.embl-barcelona.es/"
                        >Barcelona</a
                      >
                      <div class="small">
                        Tissue biology and disease <br />
                        modelling
                      </div>
                    </div>
                    <div class="columns small-7 padding-bottom-medium">
                      <a class="np" href="http://www.embl-hamburg.de/"
                        >Hamburg</a
                      >
                      <div class="small">Structural biology</div>
                    </div>
                    <div class="columns small-7 padding-bottom-medium">
                      <a class="np readmore" href="http://embl.org/"
                        >More about EMBL</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="masthead-black-bar hidden-lg hidden-md">
    <div class="container">
      <div class="row">
        <a href="//www.ebi.ac.uk">
          <img
            class="ebi-logo"
            src="//www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/images/logos/EMBL-EBI/EMBL_EBI_Logo_white.svg"
          />
        </a>
        <span class="pull-right">
          <ul class="nav navbar-nav">
            <li class="services">
              <a href="//www.ebi.ac.uk/services"
                ><span class="clearfix"> Services </span></a
              >
            </li>
            <li class="research">
              <a href="//www.ebi.ac.uk/research"
                ><span class="clearfix">Research</span></a
              >
            </li>
            <li class="training">
              <a href="//www.ebi.ac.uk/training"
                ><span class="clearfix">Training</span></a
              >
            </li>
            <li class="about">
              <a href="//www.ebi.ac.uk/about"
                ><span class="clearfix">About us</span></a
              >
            </li>
          </ul>
        </span>
      </div>
    </div>
  </div>
  <div class="ml-header clearfix">
    <div class="container">
      <div class="ml-header-section-top">
        <div class="col-md-12">
          <div *ngIf="banner" class="row">
            <div class="col-md-12 ">
              <div class="banner"[innerHTML]="banner"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 col-sm-6">
              <div class="alpha logo-title" id="local-title">
                <a
                  id="mlLogo"
                  class="ml-logo"
                  href="{{ metabolightsWebsiteUrl }}/index"
                  title="Back to MetaboLights homepage"
                >

                  <span *ngIf="metabolightsHeaderTitle == 'MetaboLights'; else testHeader">
                    <img
                    src="{{ baseHref }}assets/img/MetaboLightsLogo.png"
                    alt="MetaboLights"
                    width="64"
                    height="64"
                    />  {{ metabolightsHeaderTitle }}
                  </span>
                  <ng-template #testHeader>
                    <span class="warningHeader"> {{ metabolightsHeaderTitle }}</span>
                  </ng-template>
                </a>
              </div>
            </div>
            <div class="col-md-5 col-sm-6">
              <form id="local-search" name="local-search">
                <div class="input-group">
                  <input
                    [(ngModel)]="query"
                    type="text"
                    name="freeTextQuery"
                    id="local-searchbox"
                    class="form-control"
                  />
                  <span class="input-group-btn">
                    <input
                      (click)="sendQuery()"
                      type="submit"
                      name="submit"
                      value="Search"
                      class="btn btn-secondary"
                    />
                  </span>
                </div>
                <small class="hidden-xs">
                  <span class="examples"
                    >Examples:
                    <a href="{{ metabolightsWebsiteUrl }}/search?freeTextQuery=alanine"
                      >Alanine</a
                    >,
                    <a href="{{ metabolightsWebsiteUrl }}/search?freeTextQuery=Homo sapiens"
                      >Homo sapiens</a
                    >,
                    <a href="{{ metabolightsWebsiteUrl }}/search?freeTextQuery=urine">Urine</a
                    >,
                    <a href="{{ metabolightsWebsiteUrl }}/search?freeTextQuery=MTBLS1"
                      >MTBLS1</a
                    >
                  </span></small
                >
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="ml-header-section-bottom">
        <nav class="navbar navbar-dark">
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false"
            >
              <span class="icon icon-functional" data-icon="M"> Menu</span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse"
            style="padding-right: 30px"
            id="bs-example-navbar-collapse-1"
          >
            <span class="hidden-sm hidden-md">
              <ul class="nav navbar-nav cnav">
                <li><a href="{{ metabolightsWebsiteUrl }}/index">Home</a></li>
                <li><a href="{{ metabolightsWebsiteUrl }}/studies">Browse Studies</a></li>
                <li><a href="{{ metabolightsWebsiteUrl }}/compounds">Browse Compounds</a></li>
                <li><a href="{{ metabolightsWebsiteUrl }}/species">Browse Species</a></li>
                <li><a href="{{ metabolightsWebsiteUrl }}/download">Download</a></li>
                <li><a href="{{ baseHref }}guides">Help</a></li>
                <li><a href="{{ metabolightsWebsiteUrl }}/contact">Give us feedback</a></li>
                <li><a href="{{ metabolightsWebsiteUrl }}/about">About</a></li>
                <li><a [routerLink]="['/datapolicy']">Data Policy</a></li>
                <li><a href="{{ metabolightsWebsiteUrl }}/training">Training</a></li>
                <li><a href="{{ metabolightsWebsiteUrl }}/presubmit">Submit Study</a></li>

              </ul>
              <ul class="nav navbar-nav cnav navbar-right">
                <li *ngIf="authUser && authUser.firstName">
                  <a href="{{ metabolightsWebsiteUrl }}/useroptions">{{
                    authUser.firstName
                  }}</a>
                </li>
                <li *ngIf="!authUser || !authUser.firstName">
                  <a href="{{ metabolightsWebsiteUrl }}/login">Login</a>
                </li>
              </ul>
            </span>
            <span class="hidden-xs hidden-lg">
              <ul class="nav navbar-nav cnav">
                <li><a href="{{ metabolightsWebsiteUrl }}/index">Home</a></li>
                <li><a href="{{ metabolightsWebsiteUrl }}/studies">Browse Studies</a></li>
                <li><a href="{{ metabolightsWebsiteUrl }}/compounds">Browse Compounds</a></li>
                <li><a href="{{ metabolightsWebsiteUrl }}/species">Browse Species</a></li>
                <li class="dropdown">
                  <a
                    href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >More <span class="caret"></span
                  ></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ metabolightsWebsiteUrl }}/download">Download</a></li>
                    <li><a href="{{ baseHref }}guides">Help</a></li>
                    <li>
                      <a href="{{ metabolightsWebsiteUrl }}/contact">Give us feedback help</a>
                    </li>
                    <li><a href="{{ metabolightsWebsiteUrl }}/about">About</a></li>
                    <li><a [routerLink]="['/datapolicy']">Data Policy</a></li>
                    <li><a href="{{ metabolightsWebsiteUrl }}/training">Training</a></li>
                    <li><a href="{{ metabolightsWebsiteUrl }}/presubmit">Submit Study</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav cnav navbar-right">
                <span *ngIf="authUser; else noUser">
                  <li>
                    <a href="{{ metabolightsWebsiteUrl }}/useroptions">{{
                      authUser.firstName
                    }}</a>
                  </li>
                </span>
                <ng-template #noUser>
                  <li><a href="{{ metabolightsWebsiteUrl }}/login">Login</a></li>
                </ng-template>
              </ul>
            </span>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
