.gray-box {
    background-color: #f9f9f9;
    border-radius: 4px;
    padding: 1.25rem;
}



.table {
    background-color: transparent;
}

.table th,
.table td {
    border-color: #dbdbdb;
    padding: 0.5em 0.75em;
    vertical-align: middle;
}

.mat-mdc-form-field {
    width: 100%;
}

.search-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #3273dc;
    cursor: pointer;
}

.search-link:hover {
    text-decoration: underline;
}
.funding-list {
    margin-bottom: 20px;
}
