<span>
  <span *ngIf="studyAssayFiles && studyAssayFiles.length > 0; else noAssays">
    <div *ngIf="!isReadOnly">
      <add-assay></add-assay>
    </div>
    <br />
    <div class="card">
      <div class="columns" style="margin-bottom: 0; padding-bottom: 0">
        <div
          class="column is-full tabs npt"
          style="margin-bottom: 0; padding-bottom: 0"
        >
        <mat-tab-group [(selectedIndex)]="currentSubIndex">
          <mat-tab *ngFor="let assay of assaysNames; let i = index" [label]="assay">
            <!-- No content here, just labels for switching tabs -->
          </mat-tab>
        </mat-tab-group>

        <!--Old assay selection remove if assent given to make change-->
          <!--<ul *ngIf="false">
            <span *ngFor="let assay of studyAssayFiles; let i = index">
              <li
                (click)="selectCurrentSubTab(i)"
                [ngClass]="{ 'is-active': currentSubIndex == i }"
              >
                <a>{{ assay.filename | amPipe }}</a>
              </li>
            </span>
          </ul>-->
          
        </div>
      </div>
      <ng-container *ngIf="true">
        <span *ngFor="let assay of studyAssayFiles; let i = index">
          <span *ngIf="currentSubIndex == i">
            <assay-details
              (assayDelete)="assayDeleted($event)"
              [assayName]="assay.filename"
            ></assay-details>
          </span>
        </span>
      </ng-container>

    </div>
    <span>
      <div>&nbsp;</div>
    </span>
  </span>
  <ng-template #noAssays>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="has-text-centered">
      <p>No Assays Found</p>
      <add-assay></add-assay>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
  </ng-template>
</span>
