.gray-box {
  background-color: #f7f7f7;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
}

.border-right {
  border-right: 1px solid #dbdbdb;
}

.db {
  display: block;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 0.75rem !important;
}

.teal-input {
  background-color: #26a69a !important;
  color: white !important;
  font-weight: bold;
}

.teal-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.pr-5 {
  padding-right: 1.5rem !important;
}

hr {
  background-color: #dbdbdb;
  height: 1px;
  margin: 1.5rem 0;
}

.contact-card {
  height: 100%;
  position: relative;
  border: 1px solid #e0e0e0;
}

.field-label.is-small {
  text-align: left;
  margin-right: 1rem;
}

.label {
  font-weight: 600;
}

/* Beautified Checkbox */
.beautified-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
}

.beautified-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}

.beautified-checkbox:hover input~.checkmark {
  background-color: #ccc;
}

.beautified-checkbox input:checked~.checkmark {
  background-color: #26a69a;
  border-color: #26a69a;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.beautified-checkbox input:checked~.checkmark:after {
  display: block;
}

.beautified-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.stepper-container-offset {
  margin-top: 5rem !important;
}