
/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
/deep/ .mat-button-toggle-group-vertical {
  flex-direction: column !important;
  width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
/deep/ .mat-button-toggle-group,
.mat-button-toggle-standalone {
  box-shadow: none !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
/deep/ .mat-button-toggle-label-content {
  width: 100% !important;
  text-align: left;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
/deep/ .mat-button-toggle {
  border: 1px solid rgba(0, 0, 0, 0.38) !important;
  border-radius: 4px;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
/deep/ .mat-button-toggle-button {
  width: 100% !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
/deep/ .mat-button-toggle-checked {
  background-color: #5193fb;
  color: white;
}

/deep/ .mat-mdc-checkbox {
  display: block;
}

.no-pointer {
  cursor: inherit !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: white;
}

.cborder {
  border: 1px solid #f1f1f4;
}

.cborder-radius {
  border-radius: 4px;
}

.create-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.create-radio-button {
  margin: 5px;
}

.mb5 {
  margin-bottom: 5px !important;
}

.create-selected-value {
  margin: 15px 0;
}

.central-text {
  text-align: center;
}
