<div class="parent-flex">




<article class="message article-box" #trackHeight>
    <!--message header start-->
    <div class="message-header">
      <p>Validate {{studyId}}</p>
      <span><mat-icon [matTooltip]="'Passing validation is necessary for your study to be made public. Please consult the guides for more information.'" >help</mat-icon></span>
    </div>
    <!--message header end-->
    <div class="message-body padding">
      <div class=" container ">
  
        <div class="interior-container right" #trackStatusHeight>
          <button
          class="button is-info init-button"
          [disabled]="isInitiated || taskStarted"
          [ngClass]="startButtonClass"
          (click)="startValidationTask()" >
            <span *ngIf="isInitiated === false && taskStarted === false"><mat-icon> schedule </mat-icon></span>&nbsp;
            <div *ngIf="isInitiated" ><mat-spinner [diameter]="18" strokeWidth="2"></mat-spinner></div>
            {{ buttonText }}  </button>
            <div class="status-container"> 
              <div class="response text-padding"><b>LAST UPDATE:</b> {{lastRunTime | date: 'MMM d, y, H:mm:ss '}}</div>
              <div class="response text-padding"><b>VALIDATION STATUS:</b><i> {{status }} </i></div>
              <div class="response text-padding" *ngIf="showTaskId" ><b>TASK ID:</b> <small> {{lastResponse.task.task_id}} </small> </div>
              <div class="response text-padding bottom"><b>DESCRIPTION: </b>

                <div *ngIf="currentTaskState.ws3TaskStatus == 'SUCCESS'; else otherStatusesBlock">
                  {{dm.SUCCESS[status]}}
                </div>
                <ng-template #otherStatusesBlock>
                  {{dm[currentTaskState.ws3TaskStatus]}}
  
                </ng-template>
              <br>
              </div>
            </div>
        </div>
      </div>
      </div>
  </article>
  

</div>

