.error-message {
  color: red;
}
.not-curated {
  background-color: orange;
  color: white;
}

.apply-button {
  left: 20px;
  top: 10px;
}
.list-data-policy{
    list-style: disc;
    padding: 20px;
}
.sub-list-data-policy{
    list-style: circle;
    list-style-position: inside;
}
