<div class="control">
  <div class="tags has-addons">
    <span class="tag is-dark">Status</span>
    <div *ngIf="status == 'Public'; else onlyStatus" >
      <span *ngIf="curationRequest == 'MANUAL_CURATION'; else noCuration">
        <span class="tag is-link clickable" (click)="openModal()">
          {{
            status
          }}
        </span>
      </span>
    <ng-template #noCuration>
      <span class="tag clickable not-curated" (click)="openModal()">
        {{
          status
        }} - Unreviewed
      </span>
    </ng-template>
  </div>

    <ng-template #onlyStatus>
      <span class="tag is-link clickable" (click)="openModal()">
        {{
          status
        }}

      </span>
    </ng-template>

  </div>
</div>
<div class="modal" [ngClass]="{ 'is-active': isModalOpen }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <span *ngIf="status == 'Public'">
        <h4>
          <mat-icon>public</mat-icon>
        </h4>
        <p>
          <b>ACCESSIBILITY</b><br />
          Anyone can view or download your study. Please ensure you have
          provided your literature publication reference (DOI or PubMed ID) if
          applicable to improve your visibility.
          <br /><br />
          <b>Whats next?</b><br />
          Your study is searchable and will be exported to other search engines,
          such as
          <a target="_blank" href="http://metabolomexchange.org/"
            >Metabolomexchange</a
          >
          and <a href="https://www.omicsdi.org/" target="_blank">OmicsDI</a>
        </p>
      </span>
      <span *ngIf="status == 'In Review'">
        <h4>
          <mat-icon>visibility</mat-icon>
        </h4>
        <p>
          <b>ACCESSIBILITY</b><br />
          Curation of your study is complete. You can find a private link on
          your study page to share your study directly with collaborators,
          journals or reviewers.
          <br /><br />
          <b>Whats next?</b><br />
          Upon reaching the release date your study will automatically be
          published to allow open access. Please ensure to provide your
          literature publication reference (DOI or PubMed ID) if applicable to
          improve your visibility.
        </p>
      </span>
      <span *ngIf="status == 'In Curation'">
        <h4>
          <mat-icon>visibility_off</mat-icon>
        </h4>
        <p>
          <b>ACCESSIBILITY</b><br />
          Your study is currently in curation and therefore you cannot make any
          changes. Please be advised that we may contact you if further
          information is required to complete this process. If you would like to
          update you study at this stage please contact
          <a href="mailto:metabolights-curation@ebi.ac.uk"
            >metabolights-curation@ebi.ac.uk</a
          >
          <br /><br />
          <b>Whats next?</b><br />
          Once curation of your study has been completed you will receive an
          update from the MetaboLights team.
        </p>
      </span>
      <span *ngIf="status == 'Submitted'">
        <h4>
          <mat-icon>visibility_off</mat-icon>
        </h4>
        <p>
          <b>ACCESSIBILITY</b><br />
          Your study is private. Only the study submitters are able to view and
          make changes to the study.
          <br /><br />
          <b>Whats next?</b><br />
          Check your study passes the validation checks (see the validation tab
          in your study). Once you have completed your study and it has met the
          validation criteria, please change the study status to ‘Curation’ /
          ‘Submission complete’
        </p>
        <br>
        <div *ngIf="validation.status != 'success' && validation.status != 'warning'">
          <p class="error-message">
            Before changing status of your study, please validate your study and fix all errors.
          </p>
        </div>

      </span>
      <br />
      <span *ngIf="!isReadOnly">
        <span *ngIf="curator; else submitter">
          <mat-form-field>
            <mat-label>Change study status</mat-label>
            <mat-select (selectionChange)="changeStatus()" [(value)]="toStatus">
              <mat-option value="Submitted">Submitted</mat-option>
              <mat-option value="In Curation">In Curation</mat-option>
              <mat-option value="In Review">In Review</mat-option>
              <mat-option value="Public">Public</mat-option>
            </mat-select>
          </mat-form-field>
        </span>
        <ng-template #submitter>
          <span *ngIf="status == 'Submitted'">
            <mat-form-field>
              <mat-label>Change study status</mat-label>
              <mat-select
                (selectionChange)="changeStatus()"
                [(value)]="toStatus"
              >
                <mat-option value="Submitted">Submitted</mat-option>
                <mat-option value="In Curation">In Curation</mat-option>
              </mat-select>
            </mat-form-field>
          </span>
        </ng-template>
      </span>
    </section>
    <footer class="modal-card-foot buttons is-right">
      <div class="columns is-gapless full-width">
        <div class="column is-two-third"></div>
        <div class="column is-one-third has-text-right">
          <button class="button" [disabled]="isFormBusy" (click)="closeModal()">
            OK
          </button>
        </div>
      </div>
    </footer>
  </div>
</div>
