table {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.mat-column-Structure {
  flex: 0 0 25% !important;
  min-width: 200px !important;
  background-color: #fff !important;
}

.mat-mdc-header-row {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: inherit;
}

.pointer {
  cursor: pointer;
}

.tiny {
  font-size: 0.8em;
}

.notification.is-warning {
  background-color: #fcf5d9;
  color: rgba(0, 0, 0);
}

.notification.is-primary {
  background-color: #b4d1d626;
  color: #000;
}

.border {
  border: 1px solid #ddd;
}

table {
  width: 100%;
}

table td,
table th {
  vertical-align: middle;
}

.mat-mdc-header-cell {
  text-align: center !important;
}

tr.mat-mdc-header-row {
  background-color: #f3f4f4;
}

th.mat-sort-header-sorted {
  color: black;
}

th span {
  float: right;
}

.mat-sort-header-arrow {
  margin: 0 5px 0 15px !important;
}

.column-editor-card {
  min-width: 80vw !important;
  min-height: 80vh;
}

.columns.is-vcentered {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.columns.is-hcentered {
  justify-content: center;
  text-align: center;
}

.mt20 {
  margin-top: 20px;
}

.mb0 {
  margin-bottom: 0px;
}

.tab-wrapper {
  min-height: 80vh;
}

.modal-card-title {
  color: #979797;
  font-size: 1.2rem;
}

.modal-card-title .highlight {
  color: #000;
}

.options-wrapper {
  border-left: 1px solid #f1f1f3;
  min-height: 70vh;
  padding-top: 10px !important;
}

.options-title {
  border-bottom: 1px solid #f1f1f3;
  padding: 15px !important;
  font-weight: bold;
  font-size: 1.1em;
}

.options {
  padding: 15px;
}

.wrapper {
  width: 100%;
  overflow: auto;
}

.top-scroll-wrapper {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  transform: scaleY(-1);
}

.top-scroll-wrapper table {
  min-width: 100%;
  transform: scaleY(-1);
  width: auto;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-form-field-infix {
  border-top: none;
}

td.mat-mdc-cell,
td.mat-mdc-footer-cell,
th.mat-mdc-header-cell {
  padding-left: 20px;
  padding-right: 12px;
  -webkit-box-shadow: 0 0 1px #dbdbdb;
  box-shadow: 0 0 1px #dbdbdb;
}

.mat-mdc-table-sticky {
  background-color: #fdfdfd;
}

.dropdown-divider {
  background-color: #dbdbdb;
  border: none;
  display: block;
  height: 1px;
  margin: 0;
}

.dropdown-content {
  padding-bottom: 0rem;
  padding-top: 0rem;
  border-radius: 2px;
}

a.dropdown-item {
  padding-right: 1rem;
}

.column {
  padding: 0;
}

.addon-tag {
  padding-left: 0;
  padding-right: 0;
  border-left: 1px dotted #eaeaea;
}

.columns {
  margin-right: 0px;
  margin-left: 0px;
}

.row-selector {
  width: 10px;
}

.table-selector {
  width: 10px;
}

.selected {
  background-color: #333;
  color: #fff;
}
.tags .tag {
  text-transform: none;
}

.row-options-wrapper {
  position: relative;
}

.row-options {
  position: absolute;
  left: -23px;
  top: 0px;
  height: 48px;
}

.table-icon {
  padding-right: 10px;
  padding-top: 12px;
}

.button {
  margin-left: 2px;
  margin-right: 2px;
}

.menu-bar {
  margin-top: 10px;
  margin-bottom: 0 !important;
  align-items: baseline;
}

.menu-bar:first-child {
  margin-left: -5px;
}

.menu-bar:last-child {
  margin-right: -5px;
}

.button.is-light {
  border-radius: 2px;
}

.missing-ontology {
  margin-right: 10px;
}

.missing-tag {
  margin-top: 0px;
  vertical-align: top;
}

.first-row {
  background-color: rgba(220, 245, 249, 0.481); 
  font-style: italic;
}

.unclickable {
  pointer-events: none;
}

.dismiss {
  position: absolute;
  right: 2%;
  cursor: pointer; /* This gives you the little hand */
}
.scroll-wrapper {
  overflow-x: auto;
  overflow-y: auto;
}

#wrapper1 {
  height: 20px;
}
#wrapper2 {
  height: auto !important;
}
<<<<<<< HEAD
.radio-tick {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #999;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
}

.radio-tick.selected {
  border-color: #1976d2;
  background-color: #1976d2;
  box-shadow: 0 0 0 3px rgba(25, 118, 210, 0.15);
}

.radio-tick.selected::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

=======
.no-structure-message {
  display: flex;
  color: #888;
  font-style: italic;
  text-align: center;
}
>>>>>>> origin/staging
